[2017-06-16 18:06] dougm commented on #740
I don't see anything that would prevent you from using StorageResourceManager for this case, but again not sure as I haven't tried myself.
 Have you looked at this? https://github.com/vmware/govmomi/blob/master/govc/vm/create.go#L429
While it uses a VM spec as part of requesting a placement recommendation, it doesn't create a VM.

[2017-06-16 20:41] dougm commented on #742
Here's an example: https://github.com/vmware/govmomi/blob/master/examples/networks/main.go

[2017-06-16 20:42] dougm commented on #721
We may have broken something with 5.5.  Do you have version 6.0 or 6.5 you can try with?

[2017-06-17 02:53] huangfupeng opened #746 "hi, man ! I want to get virtual machine network information， the api doc is too difficult for me， can you help me"

[2017-06-17 02:57] sudhirnir commented on #740
Right, I looked at the example. Only after invoking ApplyStorageDrsRecommendation_Task, VM will be created. I was wondering, whether same is there for Create Disk. But haven't found anything for it.  recommendDatastore method supports create, clone, relocate, reconfigure "type" of operations, but those are for VM. I want similar for creating virtual disk, which would take virtual disk specs and da

[2017-06-17 07:57] shanquanqiang opened #747 "How to get Network throughput information"
How to get Network throughput information

[2017-06-17 18:39] dougm commented on #747
http://pubs.vmware.com/vsphere-60/index.jsp#com.vmware.wssdk.apiref.doc/vim.PerformanceManager.html

See the metric.info and metric.sample commands for examples of using PerformanceManager:
https://github.com/vmware/govmomi/tree/master/govc/metric

[2017-06-17 18:41] dougm commented on #740
Like I said, haven't tried it myself, but looks like it should work for your case.

[2017-06-17 18:43] dougm commented on #746
What network information exactly are you trying to get?

[2017-06-18 09:27] sudhirnir commented on #740
@dougm Thanks.

[2017-06-19 09:18] anmakaro commented on #742
Thanks for the link.
My thought was not complete. I mean getting all inform for network's witch CLI, in python. I writing code for console output from govc. But i don't get inform for network witch govc, becouse no command(example: govc network.info <nameNetwork>).  What to do?

[2017-06-19 18:57] hickeng opened #749 "Add optional "operationID" to vmomi calls"
Follow on from vmware/vic#2739

We've been needing to add a cross boundary correlation ID for some time - turns out that @derekbeard had noted the solution in the above issue but I'd not come back it since.
Please can this be added via optional `context.WithValue` - preferably with a runtime bound key so that we can easily couple the vic trace package and govmomi without having to hardcode the sam

[2017-06-20 00:37] dougm commented on #749
We can certainly do that.  Any pointers to the header name, value format we'd need to use?

[2017-06-20 01:05] cwegener commented on #735
Alright, I managed to collect some information from the SDK docs.

## Introduction

- [Content Library Overview](http://pubs.vmware.com/vsphere-65/topic/com.vmware.vapi.progguide.doc/GUID-A63746AD-24BB-4045-9C05-B36BEE14AB39.html)
- [VM Templates and vApp Templates in a Content Library](http://pubs.vmware.com/vsphere-65/topic/com.vmware.vsphere.vm_admin.doc/GUID-F7BF0E6B-7C4F-4E46-8BBF-76229AEA722

[2017-06-20 07:36] cwegener commented on #735
Also, in terms of how a VM Template deploymen from a Content Library is supposed to work, I believe that there is a two-stage process going on when using this feature from the vSphere Web Client. The first stage is logged as 'Deploy OVF package from Content Library to Resource Pool', which seems to be some sort of file copy activity. The second stage is logged as 'Deploy OVF template'.

[2017-06-20 13:45] anmakaro opened #751 "How to filter the received data?"
Hello. I'm writing a console application on a python and I need to filter the data it receives. For this purpose I used https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#find. But for some reason, I can not filter the data by the pool resource names (Example: govc find. -type m -resourcePool.name name). Tell me how to solve this problem? Thank you.

[2017-06-20 15:14] dougm commented on #751
The resourcePool property is a ManagedObjectReference.. you can use another govc command to get the reference by name, such as `govc ls -i` or `govc find -i`:

[code]

[2017-06-20 23:45] dougm commented on #742
[code]
You can collect specific properties, see: https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#objectcollect

[2017-06-21 06:57] huangfupeng commented on #746
I want to get virtual machine network information abount Performance Chart Legend data
key， object， Measurement，  Rollup， units，  Latest， Minmum， Average

[2017-06-21 13:24] dougm commented on #746
(copying from issue #747)

http://pubs.vmware.com/vsphere-60/index.jsp#com.vmware.wssdk.apiref.doc/vim.PerformanceManager.html

See the metric.info and metric.sample commands for examples of using PerformanceManager:
https://github.com/vmware/govmomi/tree/master/govc/metric

[2017-06-22 08:47] anmakaro commented on #751
Thanks you.

[2017-06-22 08:47] #751 closed

[2017-06-22 13:32] anmakaro commented on #742
Thank you!
Please tell me how to get the properties of any object selectively. For example "Name"

[2017-06-22 14:04] dougm commented on #742
https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#objectcollect

More examples:
[code]

[2017-06-22 14:22] anmakaro commented on #742
Thank!!!

[2017-06-23 01:55] shanquanqiang commented on #747
I still don't konw how to use it ，can you explain it in detail. Is not to write a network.go and call the run function to get the information @dougm

[2017-06-23 12:34] anmakaro opened #756 "Filtering by resourcePool for vm"
Hi. I get a list of resource pools. I scroll through them, and at each iteration I try to get a list of virtual machine names filtered by the name of the current pool resource. But as a result, I get all the virtual machines.
I'm trying to implement with:

https://github.com/vmware/govmomi/issues/751
 govc find . -type m -resourcePool $(govc find -i /host/test -name RP123)
This command does not wo

[2017-06-23 23:13] hickeng commented on #749
"operationID" was quoted in the email, so maybe it's as simple as that - if not I'd have to dig it up out of code which automatically makes it deferred until we actually start addressing the operation logging in the VIC side of things.

[2017-06-26 07:35] thib-ack commented on #739
Fixed with #741
I close the issue

[2017-06-26 07:35] #739 closed

[2017-06-27 01:42] jamesjmurtagh opened #758 "Specifying host cluster instead of individual host when getting Host System returns error: "... resolves to multiple hosts"."
Assuming the cluster, "MyHostCluster", contains 2 hosts, "10.0.0.5" and "10.0.0.6":

`myHost, err := myFinder.HostSystem(ctx, "MyHostCluster")`
`
	if err != nil {
		return err
	}`

The above would return the error, whereas replacing the second argument with "MyHostCluster/10.0.0.5" would not. Is there any way to use the cluster instead of specifying the individual host? Various functions that I ne

[2017-06-27 03:07] liboshi commented on #721
I will update my ESXi to 6.0+ and then give a try.

Thanks for your reply.

[2017-06-27 03:20] liboshi opened #759 "Using govc guest.ps to monitor one installation process's status, error pop-up: ServerFaultCode: A general system error occurred: vix error codes = (3016, 0)"
govc version: v0.15.0
Binary downloaded from govc release page.

`govc about`
Name:         VMware vCenter Server
Vendor:       VMware, Inc.
Version:      6.0.0
Build:        3634794
OS type:      linux-x64
API type:     VirtualCenter
API version:  6.0
Product ID:   vpx

Detailed steps:

- Upload a batch script which is used to install some software to windows 7 x64 vm.
- Run command: `pid=$(govc

[2017-06-28 14:36] dougm commented on #759
Any info in the VM's vmware.log file?

Does this happen without using the ps '-X' flag?  If so, possible that the command polls to often, you could try increasing the interval: https://github.com/vmware/govmomi/tree/master/toolbox#guestfilemanager-object

[2017-06-28 14:55] dougm commented on #758
In the case of ImportVApp, the host param is optional.  So if you use 'nil', then vCenter will choose a host.  Likewise for any other method where the SDK documents a HostSystem type as optional - and its left up to vCenter to choose a host.

[2017-06-28 23:27] jamesjmurtagh commented on #758
Thanks for the reply!

If I were to leave the host param nil, how would I be able to specify which host cluster it should be using?
It sounds like this solution would mean users are unable to specify a cluster, in a situation where multiple Host Clusters exist within the Datacenter.

[2017-06-29 00:16] dougm commented on #758
You'd use the ResourcePool param to specify a cluster.

[2017-06-29 00:39] jamesjmurtagh commented on #758
Oh, gotcha! Thank you so much.

[2017-06-29 02:20] liboshi commented on #759
I didn't use guest.ps without '-X' flag. So I cannot give a useful feedback now. I can give a try later.

part plain text of vmware.log:

I mark failed step as blod.

[2017-06-29 07:00] lox opened #761 "Query on calling enableForkParent API"
I'm experimenting with the VMFork APIs in vSphere. I'm trying to figure out how I'd use govmomi to call the `enableForkParent` on a `VirtualMachine` MOB. Any suggestions for how I'd do this? I understand it's a non-supported API, I'm just looking for a way to use govmomi to invoke it.

[2017-06-29 07:00] lox commented on #761
More details here: https://www.higebu.com/2016-04-27-vmfork-using-mob-en.html

[2017-06-29 18:29] #592 closed

[2017-07-04 02:46] liboshi commented on #721
Cannot hit this issue on ESXi 6.0+, so close it.

[2017-07-04 02:46] #721 closed

[2017-07-04 10:02] liboshi commented on #759
I used guest.ps without '-X' flag, cannot hit this issue. As the the interval is larger than default value with '-X' flag.

[2017-07-05 22:06] luomiao opened #764 "Find VM by UUID?"
Hi there.
I saw there is a function with finder struct so we can get a VM by its name:
func (f *Finder) VirtualMachine(ctx context.Context, path string) (*object.VirtualMachine, error)

Is it possible to have similar function but the input is the UUID of a VM?
Or is there already a function to do so?

Thanks!

[2017-07-06 00:47] dougm commented on #764
Hi @luomiao , yes, `SearchIndex.FindByUuid`: https://github.com/vmware/govmomi/blob/master/object/search_index.go#L123

[2017-07-06 21:04] #758 closed

[2017-07-06 21:05] #764 closed

[2017-07-06 21:08] dougm commented on #761
@lox you mentioned in slack you figured this out, anything you can share?  Also note that you can use the SOAP API too, but the types aren't generated.  See object/authorization_manager_internal.go and object/virtual_disk_manager_internal.go for examples.

[2017-07-06 21:11] dougm commented on #756
Can you share some detail, what is the output of the 2 commands?  `/host/test` is not a valid inventory path, you'd need to use `host/cluster-name` or `/datacenter-name/host/cluster-name`.  Or just the root folder `/`

[2017-07-06 21:22] dougm commented on #747
Can you share some details on what resource type(s), metrics, etc. that you need?

For example, network stats for a host:

[code]

[2017-07-06 21:35] dougm commented on #746
[code]

[2017-07-06 21:36] #742 closed

[2017-07-06 21:40] dougm commented on #681
@thesraid did you end up finding out what the issue was here?

[2017-07-06 23:06] lox commented on #761
Thanks, I ended up just copying the generated types:

https://github.com/lox/govmomi-vmfork/blob/master/internal/types/types.go

[2017-07-07 00:40] dougm commented on #761
@lox cool!  I'll close this issue for now then.  We certainly do want to include vmfork in govmomi at some point, but the internal APIs continue change.

[2017-07-07 00:40] #761 closed

[2017-07-07 00:58] lox commented on #761
Do they actually change? It seems like they have been stable for quite some time. I get the impression VMWare has largely lost interest in VMFork.

[2017-07-07 01:12] dougm commented on #761
Interest hasn't been lost, we need it in the vmware/vic project (and elsewhere).  I think it's just a matter of when and how it lands in "final"/public API form.  @hickeng and @mlh78750 may have some more details.

[2017-07-07 01:13] lox commented on #761
I'd love to know if it works with macOS, if it doesn't it would save me a lot of trouble :)

[2017-07-07 09:36] thesraid commented on #681
Sorry I should have gotten back to you. The VMDK I was using was part of an OVF. I had to convert the OVF to a VM and then this command worked.

[2017-07-07 12:03] sudhirnir commented on #740
@dougm Sorry, I have not tried it yet. Will let you know once I give it a try.

[2017-07-09 19:36] jctanner opened #770 "vcsim virtualmachine objects do not implement CloneVM_Task"
Trace log ...
[code]

How difficult would it be to implement this? Where would one start?  simulator/virtual_machine.go?

[2017-07-10 00:14] dougm commented on #770
I had started a while back: https://github.com/dougm/vic/commit/7f9a1c37a53fe73302a9a7ce21a0a69a607019fd

Been meaning to finish it, will try to wrap it up in the next day or two.

[2017-07-10 12:09] zeisss opened #771 "Report maintenance mode in host.info command"
It would be nice if the `host.info` command could also report, whether a host is in maintenance mode. As far as I can tell there are only commands to SET the maintenance mode (`host.maintenance.{enter,exit}`) but none to check for maintenance mode.

[2017-07-10 14:45] dougm commented on #771
You can use the `-json` flag to see all the HostSystem properties:

[code]

Another option:

[code]

[2017-07-12 13:26] Jonaus opened #775 "Vcsim error while creating datastore"
Getting error while starting vcsim with default parameters:

[code]

Starting vcsim with no datastores and VM's (-ds 0 -vm 0) it starts with no errors. Using govc I checked that it did create all the other default objects. Using govc command to create datastore I got the following error:

[code]
This does create govcsim temp folders in /tmp/, but they are empty
I am using CentOS 6.8 as root user.

[2017-07-12 16:11] dougm commented on #775
@Jonaus I'd meant to remove the use 'df' at some point, can you try with #776 ?

[2017-07-13 04:39] dougm commented on #770
@jctanner I've merged that version of CloneVM_Task, can you give it a try?

[2017-07-13 06:03] girishramnani opened #779 ""EOF" HTTP error on Updating license labels using License Manager"
hello,
I am trying to update the License Labels using the `license.Manager`. Below is the code

[code]

The output is

[code]

I am using the same credentials to change the labels from the web client and that is
successfully happening so I dont think its a permissions related issue.

VSPHERE edition - Version 5.5.0 Build 4063694

[2017-07-13 07:50] Jonaus commented on #775
It launched with no errors using #776 . Thanks Doug

[2017-07-13 07:50] #775 closed

[2017-07-13 13:18] govint opened #780 "govc vm.info -waitip=true vm.ip=<VM IP> fails with "no such vm""
I'm running a test where a VM is suspended and then resumed, immediately after its resumed I'm executing the command _govc vm.info -waitip=true vm.ip=< VM IP >_. Almost four times out of five I get the error "govc: no such vm".

Isn't the _-waitip=true_ supposed to wait for the VM to acquire an IP and then return VM data?

[2017-07-13 14:00] dougm commented on #780
That's expected as a VM does not have any IP address property unless it is powered on:

[code]

[2017-07-13 14:00] #780 closed

[2017-07-13 14:10] dougm commented on #779
Any details from vpxd.log or 'govc logs' ?

I've only used the method for adding a new license, you may want to try the UpdateLicenseLabel method instead.

[2017-07-13 16:46] dougm commented on #775
@Jonaus ok great, does it also work for you on Windows?  I've yet to try vcsim on Windows at all.

In any case, not going to merge just yet as this would create a cgo dependency on Darwin.  Going to look at how we could avoid that.

[2017-07-13 16:48] hickeng opened #781 "ContainerView is not returning up-to-date results"
We are seeing behaviour where the results from a ResourcePool backed view are not updated to reflect newly created VMs in that pool. The call is [here](https://github.com/vmware/vic/blob/69119f3de854f5c38d0c0eecf6d32d7c023b2235/pkg/vsphere/disk/disk_manager.go#L532).
In the failure case we would see logs of us checking the endpointVM which existed when the view was created. @jzt has mentioned that

[2017-07-13 17:06] girishramnani commented on #779
Correct me if I am wrong but I remember that UpdateLicenseLabel method doesn't exist. And I will share logs ASAP.

[2017-07-13 17:58] govint commented on #780
@dougm, the VM is first resumed and then govc command is issued. Plus waitip option was provided.

Since the VM resume has already been initiated shouldn't govc have waited for the VM to get an IP?

[2017-07-13 18:16] dougm commented on #780
It can't find the vm to wait for, since you used the `-vm.ip` flag and SearchIndex returns no results unless the vm is powered on.  If you were to use `-vm.uuid` or `-vm`, those flags work regardless of the power state.

[2017-07-13 18:21] govint commented on #780
@dougm, thanks I'll try that. 👍

[2017-07-13 20:25] dougm commented on #779
The generated code is there, a license.Manager wrapper method could be added like so:

[code]

[2017-07-13 22:01] claudekenni opened #783 "govc vm.disk.create only adds disks with 10GB Size"
I'm trying to use govc to add a new disk to a VM and everytime the Disksize is just 10GB
I tried via the parameter
-size=
-> 20
-> 20G
-> 20GB
-> 20.0GB
-> 20.0G
and all the same without the '=' but every time the Disks gets created with 10GB size

Like this example:
govc vm.disk.create -vm.dns=$vm -name=$next_disk_name -ds=$ds_path -size $size

[2017-07-13 23:28] dougm commented on #783
Does the example below work for you?

[code]

[2017-07-14 06:17] girishramnani commented on #779
Cool, this method solved my issue. Thank you.

Closing.

[2017-07-14 06:17] #779 closed

[2017-07-14 06:44] Jonaus commented on #775
@dougm #776 does work on Windows

[2017-07-14 13:51] claudekenni commented on #783
Doing it manually works
I'm using the following Script via Rundeck to add the Disk with looking at what the next disk number is

`#!/bin/bash

export GOVC_URL='https://@option.vcenter@/sdk'
export GOVC_USERNAME="@option.username@"
export GOVC_PASSWORD='@option.password@'
export GOVC_INSECURE=1

vm="@option.hostname@"
size="20GB"

# Get the VM Path from the DNS Name
vm_path=$(govc vm.info -vm.dns=$

[2017-07-14 13:55] claudekenni commented on #783
Just found the error. That Datastore Matches two so the size parameter is on a new line.

[2017-07-14 13:55] #783 closed

[2017-07-16 00:24] dougm commented on #781
VC/ESX build numbers?  The example below works as expected for, seeing container VMs come and go with docker run/rm against a VCH.

[code]

[2017-07-16 01:56] hickeng commented on #781
@dougm I was running against ESX6.5 GA - don't have build number to hand.

[2017-07-16 02:12] hickeng commented on #761
@lox If you can trigger the fork then the guest is pretty much immaterial from a base function perspective. Being able to update hardware MAC address, IPs, entropy, etc is where the guest specific behaviour come in - if this can be accomplished by scripts in the guest then there's a path forwards irrespective of direct support.

Triggering the fork from the guest was (is?) done as seen here: https

[2017-07-16 05:09] dougm commented on #781
ok, my tests were against ESX 6.5d (build 5310538).  I'll look into it some more against older versions too.

[2017-07-17 02:07] hickeng commented on #781
We can switch the vmware/vic code back to the failing style and go from there if need be. @caglar10ur we'll need to track this down one way or another before release.

[2017-07-17 03:54] dougm commented on #781
Looking into this issue led to some refactoring + govc features in #787

[2017-07-17 19:35] howels opened #788 "How to obtain/set pciPassthroughSystem?"
How can one access and manipulate the underlying Managed Objects, and is this possible for items that do not have an 'object' entry?

I've been searching for a while on this and can't see a clear answer. For advanced operations in PowerCLI and RbVmomi there was a way to get the underlying managed objects but I can't see how to get there with GoVmomi.

many thanks

[2017-07-17 19:56] howels commented on #788
Found the route using property collectors I think.

[2017-07-17 19:56] dougm commented on #781
The test above works for me too against 6.5 GA (build 4564106).

[2017-07-18 04:57] dougm commented on #788
Most of the examples for invoking managed object methods are in the various helpers here: https://github.com/vmware/govmomi/tree/master/object

You can also use the generated code directory without adding more of these helpers.  Here's an example to get you started:

[code]

[2017-07-18 10:25] byumov opened #790 "Add existing HDD to VM"
Hi! Sorry for i am asking here =\

I want to add existind HDD from one VM to another.

I am trying something like this. Get disks:

[code]

And try connect received disk to another VM:
[code]

I get error: `Cannot complete the operation because the file or folder [xxxxxx] xxxxxx/xxxxxx.vmdk already exists`
How i can add existing disk? Thanks!

[2017-07-18 11:52] jctanner commented on #770
This is working great for the integration tests in ansible. Thank you @dougm !

[2017-07-18 11:52] #770 closed

[2017-07-18 17:19] howels commented on #788
Thanks for posting the example, I found out how to access the managed objects in the end. Maybe there should be examples in the  top-level examples directory? I've managed to wrap my head around it now but having to call the methods apart from the managed objects which they are usually 'attached' to is not immediately obvious.

[2017-07-18 17:19] #788 closed

[2017-07-18 23:39] dougm commented on #790
Just don't specify FileOperation if the disk already exists.

The govc vm.disk.attach command does this using the VirtualDeviceList helpers: https://github.com/vmware/govmomi/blob/toolbox-archive/govc/vm/disk/attach.go#L64

In that command, CapacityInKB == 0, but in vm.disk.create CapacityInKB > 0:
https://github.com/vmware/govmomi/blob/master/object/virtual_machine.go#L390

[2017-07-19 08:57] byumov commented on #790
@dougm, it helped, thank you!

[2017-07-19 08:57] #790 closed

[2017-07-20 17:00] #700 closed

[2017-07-21 02:40] jamesjmurtagh opened #795 "Panic if object.VirtualMachine.Properties() attribute is 'Unset' on vCenter."
EDIT: This was partly my mistake. I attempted to get 'guest.hostName', which was not set on my VM. The result was that 'o.Guest' came back nil - which I overlooked as I was trying to access 'o.Guest.HostName'. Problem solved - but I do wonder if the return value in this situation should contain NIL pointers?

Assuming 'instance' is of the type *object.VirtualMachine:
[code]

The following code wil

[2017-07-21 06:48] Akasurde opened #796 "CreateSnapshot using govcsim"
DC0_H0_VM0 is emulated by govcsim.

I am unable to create snapshot using govcsim emulated VM, when using

[code]

I get following warning -

[code]

[2017-07-23 15:26] anmakaro commented on #756
I get all VirtualMachines. Regardless of the binding to the ResourcePool. But if I specify the full path, everything works. Thank you!

[2017-07-24 10:24] girishramnani opened #797 "manager.Decode() method doesn't return Labels for license"
I am trying to fetch information about a key from the server using `Decode` method, but the
info returned does not contain the Labels.
this is the code I have used.

[code]

Output :

[code]

VSPHERE edition - Version 5.5.0 Build 4063694

[2017-07-24 12:45] woshihaoren opened #798 "HostSystem object 's hardware has problem"
I run ingreation test on govmomi ,has below error.but on vcenter or esxi is ok.
https://github.com/ansible/ansible/pull/26492
[code]

[2017-07-24 17:49] pdellaert opened #799 "vcsim: Deploy of OVA always fails"
When deploying an OVA using ovftool in a vcsim, it fails (not sure this is supported, would be useful at some level):

In vCenter mode:
[code]

In ESXi mode:
[code]

ovftool version:
[code]

[2017-07-25 18:31] dougm commented on #796
This would be a start, but you probably want to populate the `vm.Snapshot` property too.

[code]

[2017-07-25 18:46] dougm commented on #798
Can you use `summary.hardware.memorySize` instead of `hardware.memorySize` ?

[2017-07-25 19:19] dougm commented on #799
Right, ovf import isn't implemented by vcsim yet.

[2017-07-25 20:04] dougm commented on #797
Are the labels included in the soap response?  You can use the vim25/debug package or something like:
[code]

[2017-07-25 20:09] dougm commented on #795
It isn't an error as far as the vsphere PropertyCollector is concerned.  It is expected and up to the caller to check.  I'll leave this open for now as we should document it at least.

[2017-07-25 20:44] pdellaert commented on #799
Thanks for the update, i guess this becomes a feature request then (it isn't a high priority, but definitely a nice to have)

[2017-07-25 21:55] jamesjmurtagh commented on #795
Sounds good - thanks for the response :+1:

[2017-07-26 00:47] woshihaoren commented on #798
@dougm If use summary.hardware.memorySize instead of hardware.memorySize, get_memory_facts funcation can work, but get_system_facts and get_network_facts can't work
[code]
If use summary.hardware.systemInfo instead of hardware.systemInfo in get_system_facts,will output error:
[code]

[2017-07-26 06:54] girishramnani commented on #797
Hi, the labels are not showing up in the decode license response.

[2017-07-26 07:00] girishramnani commented on #797
following are the two responses

1) add license response - https://gist.github.com/girishramnani/31d1cd9ff458191056f260ddf8ef5838
2) decode license response - https://gist.github.com/girishramnani/8f4a4fd1ca2583ad631774e5ea561014

[2017-07-26 09:41] ausevj opened #800 "vcsim: IpPoolManager request"
Putting up a request for IpPool data object and IpPoolManager (QueryIpPools function) implementations for vcsim.

Using VimService.QueryIpPools() I'm getting the following exception:
[code]

[2017-07-26 17:25] dougm commented on #798
@woshihaoren can you try with PR #801 ?

[2017-07-26 17:30] Akasurde commented on #796
@dougm Thanks for snippet. Could you please elaborate more `vm.Snapshot` ? I am not that well versed with code. I am wondering - how to keep record of snapshot tree in memory?

[2017-07-26 17:57] dougm commented on #796
In general, you can modify the `vm.VirtualMachine.Snapshot` field directly within the `CreateTask` function above.

I would start by seing how it looks against a real ESX or VC:

[code]

Then look at details on the snapshot(s) themselves if needed:
[code]

[2017-07-26 21:03] divyenpatel opened #802 "unable to connect to VC when https port is not 443"
As per GOVC documentation, we do not require to specify the PORT number in the GOVC URL.

https://github.com/vmware/govmomi/tree/master/govc
[code]

I have a vCenter Port Configured to 7443

[code]

govc ls is timing out, as it is trying to connect to 443

[code]

Version:
[code]

when tried to connect with following GOVC URL, I am able to connect to the vCenter.
[code]

Do we need to update GOVC

[2017-07-26 21:18] dougm commented on #802
You just need to specify the 'http' scheme, otherwise it defaults to 'https'.
[code]

[2017-07-26 21:23] divyenpatel commented on #802
Its giving 404
[code]

[2017-07-26 21:29] divyenpatel commented on #802
We made a fix sometimes before in Kubernetes and removed port number from the VC URL.
Here is the PR: https://github.com/kubernetes/kubernetes/pull/42024/files

If we do not specify port then the default configured port was automatically getting picked up.
but recently we observed automatic redirection to configured port is not happening.

Anything related to this behavior changed in the govmomi r

[2017-07-26 22:13] dougm commented on #802
No, govmomi hasn't changed any thing related.  Via the Go http client, it defaults port *80* for *http* and port *443* for *https*.  And "/sdk"
 is the default path: https://github.com/vmware/govmomi/blame/master/vim25/soap/client.go#L86

If you specify a different port, it'll use it (see below).  If VC or ESX sends a redirect response, the Go http client will follow the redirect.  The "404 Not Fo

[2017-07-27 00:55] #802 closed

[2017-07-27 16:17] shin-nien opened #803 "403 Forbidden"
Hi, I'm having trouble with running govc and the examples. In all cases I keep getting `403 Forbidden` and running with -debug shows that the request goes out as:

[code]

Shouldn't the auth header be in the request?

I'm running the command as:

`GOVC_INSECURE=true ./govc_linux_amd64.15 ls -debug -u https://blah:blah@10.x.x.x/sdk`

with literally blah:blah to see if the auth header appears but it

[2017-07-27 19:51] dougm commented on #803
I don't think httputil.DumpRequest is including the Cookie header.

If govc was able to login, you'll see it here: ` jq .SoapClient $(find ~/.govmomi/sessions -type f)`

Guessing there is something that's preventing any requests to /sdk, otherwise you'd be getting a SOAP response with a fault describing any login/permission issues, rather than a 403 response.

Do you get the expected 500 response

[2017-07-27 21:04] amandafeng001 opened #804 "'govc pool.create' does not work with flags with 0 or no flags specified"
`govc pool.create .../mypool` or
`govc pool.create -cpu.expandable=true -cpu.limit=0 -cpu.reservation=0 -cpu.shares=normal -mem.expandable=true -mem.limit=0 -mem.reservation=0 -mem.shares=normal .../mypool` returns this error:
govc: ServerFaultCode: A specified parameter was not correct:

As Doug mentioned, a workaround can be `govc pool.create -cpu.limit=-1 -cpu.reservation=1 -mem.limit=-1 -mem.r

[2017-07-27 21:19] dougm commented on #804
Note that this is only an issue against vCenter, works as expected against ESX.

[2017-07-28 04:37] #756 closed

[2017-07-28 04:38] #747 closed

[2017-07-28 04:38] #746 closed

[2017-07-28 04:41] dougm commented on #358
We have [vcsim](https://github.com/vmware/govmomi/tree/master/vcsim) now.. not complete, but we can track enhancements as separate issues.

[2017-07-28 04:41] #358 closed

[2017-07-29 04:30] #771 closed

[2017-07-31 08:34] woshihaoren commented on #798
@dougm Hi,  hardware property is ok, but  config property  doesn't have. May I create a new issue?

[2017-07-31 22:58] dougm commented on #798
@woshihaoren ok, let's re-open the issue.. I had only mean to merge the PR, not close this issue.

[2017-08-01 18:04] divyenpatel opened #807 "Need to create a vCenter user using govmomi or GOVC"
I see `govc host.account.create` allows creating new ESXi user on the host.

I could not find anything to create new user on vCenter server. Is it possible to create a new vCenter user using govmomi or govc?

@SandeepPissay @tusharnt @dougm

[2017-08-01 18:18] dougm commented on #807
There is no public API that I'm aware of.  Last I heard, dir-cli was the only option:

http://www.virtuallyghetto.com/2015/05/vcenter-server-6-0-tidbits-part-9-creating-managing-sso-users-using-dir-cli.html

[2017-08-01 18:21] divyenpatel commented on #807
Thank you @dougm for the information.

[2017-08-01 23:02] dougm commented on #798
@woshihaoren PR #808 should have what you need, can you give it a try?

[2017-08-02 15:28] #798 closed

[2017-08-04 07:36] Akasurde opened #811 "Build fails on latest branch fails"
`go get` fails to build with following error

[code]

Please find location of build - [here](https://hub.docker.com/r/ansible/ansible/builds/bjx9sw5faerbdn3mp2euu5w/)

[2017-08-04 12:35] dougm commented on #811
Go 1.8 or higher is required to build.

[2017-08-05 15:38] #811 closed

[2017-08-05 15:38] Akasurde commented on #811
@dougm Thanks.

[2017-08-08 21:42] SudarshanSudie commented on #692
Any place to lookup examples or skeleton code for VirtualMachine.ExportVm method ? Looking at pyvmomi vm export example but not much success. Any guidance on how to go about ExportVm call ?

[2017-08-11 14:31] pathcl opened #812 "govc vm.info doesn't show all network interfaces/ip address"
Let's say I have this vm with 3 ip address (can be aliases or network interfaces)

{'annotation': '.',
 'datacenter': '',
 'dns': '',
 'host': 'somehost.domain.tld',
 'instanceuuid': '5011e380-38ae-8719-2348-2369bdece5c3',
 'ipaddr': '172.30.10.31 172.30.10.30 172.30.10.29',
 'name': 'somevm',
 'numcpu': 2,
 'numdisks': 2,
 'numethernet': 1,
 'os': 'Ubuntu Linux (64-bit)',
 'pathname': '[VMFS-01]

[2017-08-14 04:02] dougm commented on #812
You can use `govc vm.ip -a` to list all IPs. There are also examples in the doc on how you could use `vm.info -json`: https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#vmip

[2017-08-14 04:14] dougm commented on #692
I had started on this as part of the ovf+nfc refactoring done in #805 , but it could use more testing + likely missing features of ovftool's export (which I have yet to look at myself).  The current code is in PR #813 , would be great to get some review on that.

[2017-08-14 04:31] pathcl commented on #812
@dougm that is neat! thank you. I should've had done rtfm before.

[2017-08-14 04:31] #812 closed

[2017-08-14 18:38] SudarshanSudie commented on #692
@dougm - vm.export doesnt seem to get registered , is there a sequence of steps to be followed when I am doing this ? because when I try to run the gov vm.export command , it doesnt seem to recognize it and where are you taking the destination location parameter ?

[2017-08-14 21:17] dougm commented on #692
How did you fetch the PR code and build govc?

There are a few ways, you can do the following for example (https://help.github.com/articles/checking-out-pull-requests-locally/):

[code]

Destination is the first (non flag) argument, see the "Examples" section of `govc vm.export -h`

[2017-08-14 22:47] SudarshanSudie commented on #692
Followed the same way of building govc , tried again with the set of steps that you had posted , seems to build just fine , but when I run "govc vm.export -h" or "govc vm.export -vm "vm-name" "/destination/path" , doesnt seem to do anything.
Throws up a list of all functions that govc has.

Am i missing anything ?

[2017-08-14 23:00] dougm commented on #692
Is `$GOPATH/bin` in your `$PATH` ?

[code]

[2017-08-15 00:52] SudarshanSudie commented on #692
There was a small mistake in my setup , got that working now. So here's my next issue , so if my network bandwidth is X , then I seem to be using only 10% of X. For example - If I use my network capacity completely , then I should be able to transfer 15GB in 100 seconds. But , I see right now it takes abut 15 minutes for the same. I am thinking this can be because of two reasons,

1) VmWare writes

[2017-08-15 02:13] dougm commented on #692
Don't think there are 2 writes, even if there were there's nothing that govmomi can do about it.
Do you have any comparisons to export via ovftool or pyvmomi?

We do have some control over the chunk size, currently it is 32K via Go's io.Copy.

[2017-08-15 04:35] SudarshanSudie commented on #692
`for block in response.iter_content(chunk_size=2048):`
So , the content of response from requests.get is iterated over by that chunks size , increasing the chunk size saw extra usage of memory but was faster (did not starve the memory). I was hoping to achieve similar results in govmomi , by basically changing over chunk size.

Any idea as to how to go about it ? Is changing io.Copy's chunk size a

[2017-08-16 00:33] dougm commented on #692
Don't know if it'll help much, but you can experiement here:

[code]

[2017-08-16 15:22] jramacha opened #814 "TLS handshake timeout error"
Hi, I wanted to start using govmomi for managing our inventory, I tried to do a test but getting this error any help is appreciated.
root@xxxx:~/work/src/github.com/vmware/govmomi/examples/datastores# go run main.go -url https://domain\user:password@xxxx.yyy.zzzz.com -insecure true

2017/08/16 15:12:19 Post https://xxxx.yyyy.zzzz.com/sdk: net/http: TLS handshake timeout
exit status 1
I also don't

[2017-08-16 16:45] dougm commented on #814
"/sdk" is the default path: https://github.com/vmware/govmomi/blob/2cad15190b417804d82edb4981e7b3e62907c4ee/vim25/soap/client.go#L102-L105

Are you able to connect with curl?

[code]

[2017-08-16 17:20] jramacha commented on #814
Thanks, got return code 200. Do you know what could be the issue?
 `curl --verbose -k -X POST https://domain/user:password@xxxx.yyyy.zzzz.com/sdk
*   Trying xx.xx.xx.xx...
* Connected to .... port .. (#0)
* Establish HTTP proxy tunnel to xxxx.yyyy.zzzz.com:443
* Server auth using Basic with user 'domainuser'

< HTTP/1.1 200 Connection established
<
* Proxy replied OK to CONNECT request
* found 179

[2017-08-16 17:31] dougm commented on #814
You've connected to a proxy, which must be set in your environment.  Looks like you didn't get a response after making the proxy connection with curl either.. if you hadn't ^C'd, curl would have also timed out.

[2017-08-16 18:01] jramacha commented on #814
Thanks, I tried again without cancelling it got an exception .. so I guess I have look into the firewall?
Aslo tried with --insecure in curl
* ALPN, offering http/1.1
* SSL connection using TLS1.2 / ECDHE_RSA_AES_128_GCM_SHA256
*        server certificate verification SKIPPED
*        server certificate status verification SKIPPED
*        common name: xxxx.yyyy.zzzz.com (matched)
*        server

[2017-08-16 18:48] jramacha commented on #814
Interestingly I am able to connect using pyvmomi from the same machine . Could it be something else?
`/work/src/github.com/user/hello# python                                                                                    Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

...

[2017-08-16 21:44] dougm commented on #814
You had already turned off ssl verify using the `-insecure` flag.

Any details on your proxy and what version of vCenter?

Can you connect using httpstat?  https://github.com/davecheney/httpstat/releases/tag/v1.0.0

[code]

[2017-08-17 17:36] Alphasite opened #815 "govc ls returns unexpected values."
# Observed Behaviour

LS returns values which have a prefix which match the final path segment of the

## My Dev Environment (currently)
<img width="181" alt="screen shot 2017-08-17 at 10 20 49 am" src="https://user-images.githubusercontent.com/786501/29424784-d47dc2bc-8335-11e7-9d56-f6b5ab960f3c.png">

[code]

`vch-build` was previously named `vch`.

[code]

# Expected Behaviour

Was to return on

[2017-08-17 19:09] jramacha commented on #814
Will figure out.
Thanks

[2017-08-18 12:13] cseeger-epages opened #816 "vm.clone -on switch issue"
The -on switch for vm.clone is a bool an can not be set to false since the default is true.
If i use vm.clone without on switch it will poweron by default.
If i use vm.clone with on switch it will poweron by using the on flag.
There is no possibility to set it to false.

[2017-08-18 14:14] dougm commented on #816
Use: `-on=false`

[2017-08-18 14:39] #803 closed

[2017-08-18 14:52] shin-nien commented on #803
using the fqdn rather than IP worked

[2017-08-19 02:24] vancluever opened #817 "AddVirtualSwitch: InvalidArgument"
Hey all!

I'm working on a new `vsphere_host_virtual_switch` resource for Terraform, which was going along quite swimmingly until running into this error.

Here is the request envelope:

[code]

Here is the response:

[code]

This is using `AddVirtualSwitch` from a `HostNetworkSystem` MO. A basic add with no `policy` goes through, so I'm wondering if something is missing or incorrect in the spec t

[2017-08-19 03:31] vancluever commented on #817
Figured out my problem. Looks like in order for a vSwitch to be created with a policy, it needs to be created without one first, and then the resulting spec needs to be fetched and modified, versus a whole new spec just overwritten. Will update the code to reflect this, and I'll close this now that it's clear. :)

[2017-08-19 03:31] #817 closed

[2017-08-20 13:57] Akasurde opened #818 "Unable to add license"
When trying to add Licence using govcsim, we get following error

[code]

[2017-08-20 16:07] Akasurde opened #819 "Unable to add portgroup"
While adding portgroup, I get following error message

[code]

[2017-08-20 16:08] Akasurde opened #820 "Support for EnterMaintenanceMode_Task"
Entering hostsystem in maintenance mode raises following error

[code]

[2017-08-20 16:10] Akasurde opened #821 "Error adding user"
Adding new user raises following error

[code]

[2017-08-20 16:11] Akasurde opened #822 "Unable to perform vmkernel operation"
Adding new vmkernel raises following error
[code]

[2017-08-21 07:08] cseeger-epages commented on #816
thanks this worked :+1:  . I tried it without `=` since i use all parameters without it but for -on switch a `-on false` seems not to work. Thanks, i will close this issue.

[2017-08-21 07:08] #816 closed

[2017-08-23 09:01] acortiana opened #823 "govc device.info - json output does not have nic name"
If I try:
./govc device.info -vm "virtualmachine" ethernet-*
I get the device name of the vNICs (ethernet-0, ethernet-1 etc...)

If I try to ask for the json output:
./govc device.info -json -vm "virtualmachine" ethernet-*
there is no device name in the output

The device name is needed if you want to further process the output for example to issue the vm.network.change command.
I'm using the preb

[2017-08-26 00:27] angystardust opened #825 "Deploy a new virtual machine based on a snapshot of a powered-on VM"
Using **PowerCLI**, i can deploy a new vm based on a snapshot of a powered-on VM using the following command:
`New-VM -Name <new_vm_name> -VM <name_of_VM_with_snapshot> -Datastore <LUN_to_deploy_new_VM> -VMHost <Host_where_to_deploy_new_VM> -clone -ReferenceSnapshot <display_name_of_the_open_snapshot>`

It would be great if **govc** can also implement this useful feature.

Reference: http://www.ru

[2017-08-26 00:53] #823 closed

[2017-08-26 03:17] dougm commented on #825
Sounds like this is in PR #762

I plan to review soon, if you could do that would be great.

[2017-08-28 13:27] acortiana opened #826 "json output does not work with "govc find""
It seems that the json output is not implemented for the "find" function.
The help command says that the json output option is available:

./govc find --help
Usage: ./govc find [OPTIONS] [ROOT] [KEY VAL]...
[...]
Options:
  -cert=                          Certificate [GOVC_CERTIFICATE]
[...]
  -json=false                     Enable JSON output

But it doesn't work.

[2017-08-29 10:33] acortiana opened #827 "Is it possible to call RefreshStorageSystem?"
I need to issue the RefreshStorageSystem call on the vcenter using govc.
Is it possible?
This call is needed when, for example, you change something via esxcli directly on the host and you want the vcenter to refresh storage information.

[2017-08-30 07:26] amitbet opened #830 "guest.ls only works once after each VM reboot"
When I run a remote command on the guest osx (MacOS Sierra) VM via govc guest.start or guest.ps
It will run fine for the first time after VM boot, but for any following command it will write:

This is obviously some other problem, since my credentials were fine for the first run with the exact same commandline, and will be ok again if I shut down and restart the machine.

**I am using vSphere 6.0

[2017-08-30 16:38] dougm commented on #827
Would `govc host.storage.info -rescan` work for you in this case?
https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#hoststorageinfo

It is possible to call the refresh method:
[code]

If you're wanting to do that from govc, we could add a `-refresh` option to the command above.

[2017-08-30 16:41] dougm commented on #826
Yeah, the `-json` flag has snuck into more places than it is supported, since `OutputFlag` was added to `DatacenterFlag`.  We could add support for it though to the find command.

[2017-08-30 20:41] rzubin opened #831 "Issue with trying to insert an img to a floppy drive"
I am trying to insert an img to a floppy drive. The img is in a datastore.
I have tried the following
`govc device.floppy.insert -vm windows-minimal-vm --device floppy-842356020680 -ds datastore-1 vmware-win-2016-core.img`

I moved the img to the VM directory and then tried
`govc device.floppy.insert -vm windows-minimal-vm windows-minimal-vm/vmware-win-2016-core.img`

But every time I power on the

[2017-08-30 22:22] dougm commented on #831
`floppy-842356020680` looks like the device **Summary** rather than the **Name**.

Can you verify the image is in the right location:
`govc datastore.ls windows-minimal-vm/vmware-win-2016-core.img`

Is the "Could not connect to floopy drive..." message from govc or something else?

[2017-08-31 12:34] rzubin commented on #831
hey @dougm, I did try without the --device and still the same result. There is only 1 floppy drive attached to the Vm
[code]
Below is the datastore.ls output
[code]
[code]
The "Could not connect to floopy drive"  is a message in the vsphere events tab.

Thanks

Zubin

[2017-08-31 13:20] rzubin commented on #831
Hey @dougm
Just some playing around and this seemed to work
[code]

[2017-09-01 08:08] acortiana commented on #827
`govc host.storage.info -rescan` does not call the RefreshStorageSystem method.
IMHO is needed a refresh option, as you suggest.

[2017-09-01 08:13] acortiana commented on #826
Yes, it can be useful.
`govc find` is the only way to extract all VMs on a vcenter and can be useful to have json option implemented.

[2017-09-04 09:08] cseeger-epages opened #832 "datastore.upload broken pipe"
when i try to upload an iso image to a datastore i get a
[code]
error. The iso file is only an ipxe kickstart file with 1M size.

[2017-09-04 15:10] T4cC0re opened #833 "Add support to generate VMRC link"
Hi,

in the vSphere Web Client (v5.5.0) you have the option to open a VM in VMWare Remote Console (VMRC) via an application link (e.g. `vmrc://clone:LONGSTRING@VCENTER:443/?params`).
It would be totally awesome if we could generate such a link via govmomi/govc.

Is this feature possible to implement?

[2017-09-05 15:32] rzubin opened #834 "Specify a kickstart file for booting up a CentOS VM"
I am trying to boot a centOS using a kickstart file.
What would be the best way to specify the location of the file , so that when I power on the VM it boots using that kickstart file
I saw this snippet in one of the examples
[code]
I tried to pass the kickstart file as $GOVC_TEST_IMG, but that didn't work.

[2017-09-06 08:47] cseeger-epages commented on #834
is your img an iso file ? then try to use cdrom and not floppy, since floppy does not support iso's i think.
[code]

[2017-09-06 12:05] rzubin commented on #834
Hey @cseeger-epages,
I was trying to add the kickstart file to the floppy drive. That didn't work for me
Next I am going to try to bake the kickstart file in the the ISO and boot from the cdrom as you have suggested.

Zubin

[2017-09-06 12:11] cseeger-epages commented on #834
@rzubin OK, we use this for our vm install pipeline and it works well for any kind of preseeded kickstart isos (centos 6/7, debian 7/8/9).
Importend for automated install is to prevent a kickstart install boot loop.

Here you have some options:
- you can eject the iso file when done and before the system reboots
- you can change the boot order (this is only possible when the system is off, so you

[2017-09-06 12:14] rzubin commented on #834
Hey @cseeger-epages, thank you for the help and quick response.
I think ejecting the cdrom would be the easiest way to avoid the looping problem

[2017-09-06 12:27] cseeger-epages commented on #834
Yes this works, but you may get the problem that if you eject the vm and the vm is powered on it gets stopped and asks in the web gui for confirmation. This sometimes happens and breaks the automation. I use this solution only for a reinstall because i did not find another working solution. Here is the code snipped i use in the Jenkins pipeline script:
[code]
This actually works but its a bit nast

[2017-09-06 12:46] rzubin commented on #834
@cseeger-epages I haven't reached that part yet but I have thought about it. I was going to implement a try  around one of the govc guest commands. As these need the root login and password that would be in the kickstart, if it is a success I think it would mean that the installation was a success and I can eject the cdrom.

[2017-09-06 12:47] cseeger-epages commented on #834
@rzubin sounds interessting. Please give me a hint if this solution works.

[2017-09-06 22:17] dougm commented on #830
Is this the version of tools that comes with 6.0 or something you built from open-vm-tools?  Not sure what the cause would be, but don't think it would be on the govc side.

Depending on your use-case, maybe using the Go toolbox is an option: https://github.com/vmware/govmomi/tree/master/toolbox

[2017-09-06 22:18] dougm commented on #831
ok great @rzubin !

[2017-09-06 22:18] #831 closed

[2017-09-06 22:22] dougm commented on #832
Is the file created at all in the datastore?  Any errors in `govc logs` ?  You can also specify a `-host` param to datastore.upload and `govc logs -host ...` to see the hostd logs.

[2017-09-06 22:25] dougm commented on #833
Yes, we could do that, I'll try to take a look soon.  We already have `vm.vnc` and I've been meaning to add `vm.screen` to generate the screen capture (currently in govc.el only).

[2017-09-07 07:38] cseeger-epages commented on #832
@dougm Yes the files are there and should be overwritten on upload. I use the following code:
[code]
The first one or two isos sometimes work and then i mostly get the broken pipe error, and sometimes (dont know if there is a ratelimiting or some kind of evasive sth) a 401 Unauthorized.

I dont see anything in the logs what indicates an error (or even has sth to do with the upload)

can you explai

[2017-09-07 15:59] dougm commented on #832
`-host` can be the HostSystem name or inventory path.  You can get a list of hosts that have the datastore mounted using:
[code]

[2017-09-11 11:18] avnish30jn commented on #616
Can we create customSpec using govmomi ?

[2017-09-14 12:51] X4mp opened #836 "Removing CPU reservations does not work with sending 0"
It is not possible to clear (set 0) any preset CPU reservations. Setting the reservation to 0 in the `ResourceAllocationInfo` will remove the field from the xml body since it is marked as `omitempty`.
[types.go](https://github.com/vmware/govmomi/blob/master/vim25/types/types.go)

By removing `omitempty` from the reservation field in `ResourceAllocationInfo` this can be solved immediately.

[2017-09-14 17:03] dougm commented on #836
Yes, we need to change the fields to pointers.

Related: #804 #741

[2017-09-14 17:12] emlin opened #837 "Support Application monitor in toolbox"
Need to have application monitor function works in toolbox, so that VIC engine could integrate docker health check with vSphere HA
Searched the vSphere 6.5 SDK, application monitor is still there.

[2017-09-14 17:37] dougm commented on #837
Link to the SDK doc?

Link to the VIC issue?

Any examples of how this works with standard vm guest tools?

[2017-09-14 18:56] emlin commented on #837
is working on the health check feature decomposition right now.
https://github.com/vmware/vic/issues/6333 relies on this issue

https://docs.vmware.com/en/VMware-vSphere/6.5/vsphere-esxi-vcenter-server-65-availability-guide.pdf is the document described application HA, but what I found for the API is written in C, so does not help on your code.

[2017-09-14 18:58] emlin commented on #837
https://vdc-download.vmware.com/vmwb-repository/dcr-public/4ac029aa-34ad-46b1-9b60-d2603b426d6e/62af2377-9649-4707-88a7-6e4b3df5376d/vsphere-guest-ha-monitoring-sdk-65-programming-guide.pdf
this is what I found

[2017-09-14 19:39] X4mp commented on #836
Awesome! Any chance to get this into upstream asap?

On Thu, 14 Sep 2017, 19:03 Doug MacEachern <notifications@github.com> wrote:

[2017-09-15 13:30] rzubin commented on #834
hey @cseeger-epages I am using the following command to check the OS is installed and it get an IP from dhcp before converting it to a template
[code]
Hopefully this helps you

Zubin

[2017-09-15 15:57] #827 closed

[2017-09-18 08:12] cseeger-epages commented on #834
@rzubin hehe yeah im doing the same but 15m is enough. This solution forces you to install guest-os-vmware-tools because the IP will not recognised if no vmware-tools are installed but it works well for new installs but not for reinstall because of the boot loop.

[2017-09-19 08:41] T4cC0re commented on #833
I confirm that #840 adds it in the desired way :)

[2017-09-19 13:45] #833 closed

[2017-09-19 18:30] rzubin opened #841 "Changing GuestOS fails"
I am trying to change the guestOS from "Other" to either centOS or RHEL.
[code]
I have also tried the following
[code]
Does govc take a different format to specify the guestOS?

Thanks

Zubin

[2017-09-19 22:48] dougm commented on #836
@X4mp if you could review the PR that'd be great, thanks.

[2017-09-19 22:59] dougm commented on #841
See: http://pubs.vmware.com/vsphere-6-5/index.jsp#com.vmware.wssdk.apiref.doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html

You can use "centosGuest" for example.

[2017-09-20 01:37] vancluever opened #843 "Panic in fetching portgroup properties: value of type mo.DistributedVirtualSwitch is not assignable to type mo.VmwareDistributedVirtualSwitch"
Hey all!

We have an interesting bug over in terraform-providers/terraform-provider-vsphere#161.

Looks like there's an interesting crash while trying to get the properties of a network, backed by a DVS portgroup.

The relevant stack trace is [here](https://gist.github.com/hlima/0edaca6f7b7774fcafcd4a3c24a696ce#file-crash-log-L977).

I can't reproduce this on this side, and I'm wondering if it's b

[2017-09-20 03:34] vancluever opened #844 "Finder/fields with slashes unmarshaling issue"
Hey all,

This is kind of a continuation of #734 and possibly even more. It looks like the slash matching that was added with this commit is not working 100%, main reason being is that paths are fetched URL escaped.

Example: A network named `my-net/work` actually shows up as `my-net%2fwork`, illustrated by this debug log message I put into `recurser.go`:

[code]

Unescaping the string fixes this,

[2017-09-20 11:00] rzubin commented on #841
Hey @dougm thanks! It works now

[2017-09-20 13:13] dougm commented on #841
ok great, leaving this open as a reminder to add that to the vm.change usage text.

[2017-09-20 13:36] dougm commented on #844
How did you create the network?  We have a test here:
https://github.com/vmware/govmomi/blob/master/govc/test/vm.bats#L665-L671

Maybe the UI escapes '/' when creating?

[2017-09-20 14:05] dougm commented on #814
@jramacha did you figure it out?

[2017-09-20 16:57] vancluever commented on #844
Hey @dougm - this indeed was added through the web client - I will try again with govc later on today.

Is there an easy path for someone (me, you) to submit a bug for the web client for this then?

[2017-09-20 17:06] dougm commented on #844
ok, that might be as-designed and my bad for only testing with the API and not the UI.  Though I had expected the API to validate the name doesn't include a '/' if that was the case.  I'll look into it today.

[2017-09-20 19:05] #843 closed

[2017-09-20 19:11] #804 closed

[2017-09-20 19:11] #836 closed

[2017-09-21 13:43] dougm commented on #844
Using 6.5U1, the ESX UI does not encode '/', but the vCenter HTML5 UI does.  I created a DVPG named "dougm/net".  Confirming what you see:

[code]
Will look at this more later, but the workaround of using network name with the encoded slash (%2f) as input should work fine.

[2017-09-22 10:03] acortiana opened #848 "vm.info uuid query don't work with vm templates"
vm.info uuid query don't work with vm templates.
the same operation works fine with standard, non-template VMs.
I'm using the latest govc binary compiled from source.

`# ./govc vm.info -vm.ipath=/RMT/vm/Templates/VM_TEMPLATE_123456`
Name:           VM_TEMPLATE_123456
  Path:         /RMT/vm/Templates/VM_TEMPLATE_123456
  UUID:         4204883e-484b-8f3c-c33d-126a997a5a4b
  Guest name:   CentOS 4/

[2017-09-22 22:27] dougm commented on #848
Don't know why it wouldn't, the script below works for me, does it for you?
How was your template created?

[code]

[2017-09-25 16:21] Akasurde commented on #818
@dougm Any news on this ?

[2017-09-25 22:53] ardrigh commented on #692
Having an `export.ov{a,f}` function would be a great alternative to ovftools, especially for building smaller Docker images to use.

[2017-09-26 08:37] acortiana commented on #848
I have the problem using your script (./govc: no such VM)
The only problem I see is that the vcenter version I'm using is 5.1 (that is formally not supported by govc, right?)

[2017-09-26 23:01] anfernee commented on #818
@Akasurde I will be working on this first. stay tuned.

[2017-09-27 11:14] Akasurde commented on #818
@anfernee Thanks.

[2017-09-27 19:04] anfernee commented on #820
@Akasurde @dougm  I am working on this.

[2017-09-28 01:34] #818 closed

[2017-09-28 02:09] Akasurde commented on #820
@anfernee Thanks.

[2017-09-28 02:31] Akasurde commented on #818
@anfernee @dougm Thanks for your help and time.

[2017-09-28 03:13] dougm commented on #692
@ardrigh and others interested could you give some examples of the ovftool commands you've been using to export VMs?  Examples of how you'd like it to look from a govc perspective would be great too.  While PR #805 is functional, I hadn't used ovftool to export VMs myself before and want to make sure we have a good UX before merging.  Thanks!

[2017-09-28 03:34] dougm commented on #848
We don't test against 5.1, but not sure there's much we can do if the issue is specific to that version anyhow.  Our use of SearchIndex for the `vm.uuid` flag is just using the documented API.  You can try using the find command like so:

[code]

[2017-09-28 04:44] ardrigh commented on #692
For our particular use cases:

### Examples
First method is a shell script for VM backup.

We have a Docker image with VMware cli and ovftools installed. The Docker image needs CentOS base due to the system lib requirements. Docker image runs a shell script which powers off a vm, runs the export using ovftools, then powers on the vm.

The shell command:
[code]

Second method is using [Packer](http

[2017-09-28 16:39] dougm commented on #692
@ardrigh very helpful, thanks for the details!

[2017-09-29 00:39] #820 closed

[2017-09-29 03:52] #749 closed

[2017-09-29 17:45] anfernee commented on #819
@Akasurde can you clarify what command did you run, and what version of vcsim did you use? It will be very helpful for us to address the issue.

[2017-09-29 17:47] anfernee commented on #821
@Akasurde Same thing here. Can you clarify what command did you run, and what version of vcsim did you use?

[2017-09-29 17:48] anfernee commented on #822
@Akasurde can you clarify what command did you run, and what version of vcsim did you use? Thanks.

[2017-09-30 05:25] Akasurde commented on #822
@anfernee Thanks for response.

I am facing this issue while using vcsim with Ansible VMware module `vmware_vmkernel`.

`vmware_vmkernel` internally uses an API

[code]

I think this function is not implemented in vcsim, so Ansible module fails.

You can use following Ansible playbook to reproduce this error against latest govcsim code.

[code]

[2017-09-30 05:33] Akasurde commented on #821
@anfernee Thanks for response.

I am facing this issue while using vcsim with Ansible module called `vmware_local_user_manager.py`

`vmware_local_user_manager.py` uses an API

[code]
This is where vcsim fails.

You can reproduce this using following Ansible Playbook against latest vcsim code.

[code]

[2017-09-30 05:35] Akasurde commented on #819
This is similar to other Ansible Playbook [error](https://github.com/vmware/govmomi/issues/822#issuecomment-333284963).

[2017-09-30 05:38] Akasurde commented on #819
@anfernee All these requested features are required as these are part of Ansible VMware playbook testing effort. You can check more info about this [here](https://github.com/ansible/community/wiki/VMware%3A-testing-efforts).

[2017-09-30 20:33] dougm commented on #819
@Akasurde the wiki page is just a list of govmomi github issues, does not provide any detail.  All we need are some steps to reproduce.

[2017-10-01 14:26] Akasurde commented on #819
I am facing this issue while using vcsim with Ansible VMware module `vmware_vmkernel`.

`vmware_vmkernel.py` internally uses an API

[code]

I think this function is not implemented in vcsim, so Ansible module fails.

You can use following Ansible playbook to reproduce this error against latest govcsim code.

[code]

[2017-10-01 21:50] joaodrp opened #854 "Find custom field definition by key"
Hi,

There is a [FindKey](https://github.com/vmware/govmomi/blob/f9184c1d704efa615d419dd8d1dae1ade94701d1/object/custom_fields_manager.go#L116) function for the `CustomFieldManager` that returns only the key of a custom field (if found). What’s the purpose of returning the key of the field, if you already have that key? Wouldn’t it be better to return a found/not found flag?

Nevertheless, wouldn’

[2017-10-03 17:40] dougm commented on #692
I updated the PR, the command is now called `export.ovf`.  Skipping `export.ova` for now - since we don't know the disk sizes ahead of time, we can't write the tar header, which means writing temp files.  Easy enough to create one: `(cd vm-foo && tar -cf ../vm-foo.ova .)`

Looks like `chunkSize` isn't supported anymore: https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=disp

[2017-10-03 18:29] jramacha commented on #814
Nope :(
httpstat -k -L -X POST -d - https://VC.domain.xxxx.com/sdk
Connected to xx.xx.xx.xx:443 from yy.yy.yy.yy:PORT

HTTP/1.1 500 Internal Server Error
Date: Tue, 3 Oct 2017 18:27:38 GMT
Cache-Control: no-cache
Connection: Keep-Alive
Content-Type: text/xml; charset=utf-8
X-Frame-Options: DENY
Content-Length: 552

Body stored in: /tmp/tmpFeGe89

  DNS Lookup   TCP Connection   Server Processing

[2017-10-03 18:38] jramacha commented on #814
I am going to look into our proxy setup.

[2017-10-03 19:05] jramacha commented on #814
It was the proxy. I am getting a repose from vCenter now.

[2017-10-03 19:05] #814 closed

[2017-10-03 19:05] jramacha commented on #814
Thanks for your input on this

[2017-10-03 20:07] dougm commented on #814
@jramacha ok glad you got it resolved

[2017-10-03 20:14] dougm commented on #854
Hi @joaodrp , I think it is just a poorly named param, 'key' should have been called 'name' as the helper is mean to map a name to key:
https://github.com/vmware/govmomi/blob/de0725fdaff9f17551a17d86826fe1ac5b4f4a85/object/custom_fields_manager.go#L123

Yes, I think it would be fine to add a `Find` method that returns the `*CustomFieldDef`.

[2017-10-03 20:57] joaodrp commented on #854
@dougm thanks for your comment.

Regarding the param `key`, is it ok if I open another issue (or use this one) and submit a pull request to change it to `name`?

About the `Find` method, I'll create a pull request for it.

I assume you are thinking about a single `Find` method that would be able to search by the value of `Key` (int32), `Name`  (string) or `Value` (string) attributes?  Or independe

[2017-10-03 21:38] dougm commented on #854
We could change CustomFieldsManager.Field to return a type where we can attach these methods to find entries.

For an example, see: https://github.com/vmware/govmomi/blob/de0725fdaff9f17551a17d86826fe1ac5b4f4a85/object/authorization_manager.go#L40-L71

And:
https://github.com/vmware/govmomi/blob/de0725fdaff9f17551a17d86826fe1ac5b4f4a85/object/host_firewall_system.go#L70-L181

This way there's 1 me

[2017-10-04 03:01] jctanner opened #856 "vcsim: parse error on virtualmachine config properties"
[code]

Testcase to reproduce this with the most current version of pyvmomi (6.5.0.2017.5.post1) ...

[code]

Diff of the xml response (used -trace on vcsim to capture the xml) with a previous version of vcsim versus current ...

[code]

[2017-10-04 03:02] jctanner commented on #856
It seems as if the new virtualdisk property is likely at fault here. I'm not savvy enough to really understand the deserialization problem but does this possibly have something to do with the wsdl vcsim serves not providing an object type within virtualdisk?

[2017-10-04 03:06] jctanner commented on #856
cc @Akasurde

[2017-10-04 11:48] Akasurde commented on #856
@anfernee Could you please look into this as this seems to be a regression ?

[2017-10-04 13:18] dougm commented on #856
@jctanner thanks for the detailed report and test case to reproduce!

[2017-10-04 13:52] jctanner commented on #856
@dougm no problem. Hopefully I've given you enough to go on.

[2017-10-04 16:48] #856 closed

[2017-10-04 16:49] dougm commented on #856
@jctanner yes indeed, fix is merged.

[2017-10-04 17:27] Akasurde commented on #856
@dougm Thanks.

[2017-10-04 20:36] joaodrp commented on #854
@dougm that sounds like a good idea 👍

So, it would be something like this:

[code]

And would be used like this:

[code]

With sample output:

[code]

What do you think?

[2017-10-04 23:01] dougm commented on #854
@joaodrp yes, looks good to me :+1:

[2017-10-05 15:41] #819 closed

[2017-10-05 15:44] dougm commented on #822
The method was added in #855

We may need to update more of the fields within, @Akasurde re-open if that is the case.

[2017-10-05 15:44] #822 closed

[2017-10-05 15:44] dougm commented on #821
Fixed in #855

[2017-10-05 15:44] #821 closed

[2017-10-05 15:45] dougm commented on #796
Fixed in #855

[2017-10-05 15:45] #796 closed

[2017-10-05 15:47] #854 closed

[2017-10-05 17:09] Akasurde opened #859 "vcsim: parse error while removing snapshot"
[code]

Testcase to reproduce this with the most current version of pyvmomi (6.5.0.2017.5.post1)

[code]

[2017-10-05 17:16] Akasurde opened #860 "vcsim: AuthorizationManager support"
Unable to create role using `govc` and latest `govcsim`

[code]

[2017-10-05 18:17] dougm commented on #859
@Akasurde thanks, I can reproduce with your script.  We are missing some required fields, I'm fixing now @anfernee is out today.

[2017-10-05 19:42] dougm commented on #860
I was discussing the lack of vcsim authz support with @lcastellano yesterday.  I'll open a PR that adds the properties for now, so the queries will work.  We can look at implementing the methods in separate PRs.

[2017-10-05 22:15] #859 closed

[2017-10-06 12:54] Akasurde opened #863 "vcsim: while createvm_task "InvalidDatastorePath" is thrown"
While create a VM using Ansible module against latest vcsim, vcsim throws "InvalidDatastorePath" error

Reproducer script -

[code]

Following error message is thrown while accessing `destfolder.CreateVM_Task` -

[code]

Additional Info - This script used to work previous version of vcsim.

[2017-10-06 15:06] jctanner commented on #863
This the associated soap request ...

[code]

[2017-10-06 17:39] anfernee commented on #863
investigated a little bit, the error is thrown here: https://github.com/vmware/govmomi/blob/master/simulator/virtual_machine.go#L330 where the info.Name is empty string.

[2017-10-06 17:48] anfernee commented on #863
@Akasurde you missed this:
`diskspec.device.backing.fileName = "[LocalDS_0] newvm/disk.vmdk" `

FileName is required as described in the following document:
http://pubs.vmware.com/vsphere-6-5/index.jsp#com.vmware.wssdk.apiref.doc/vim.vm.device.VirtualDevice.FileBackingInfo.html#fileName

I am closing this issue. Reopen it if there is further issues.

[2017-10-06 17:55] jctanner commented on #863
@anfernee that is still required even if we properly set the path in configspec.files ?

[2017-10-06 17:57] Akasurde commented on #863
@anfernee Yes. that was my same question.

[2017-10-06 18:01] anfernee commented on #863
Yes. `FileName` is required when you tried to add a virtual disk device through `VirtualDiskFlatVer2BackingInfo`. Basically it's pointing to a vmdk file in a datastore.

[2017-10-06 18:13] jctanner commented on #863
Alright, that seems like a bug on our side then. I'll validate and update this ticket.

[2017-10-07 12:59] joaodrp opened #864 "Fix CustomFieldsManager.FindKey method signature"
The `CustomFieldsManager.FindKey` method returns the key of a given `CustomFieldDef`. The search is performed by comparing the input string argument with each `CustomFieldDef.Name` attribute.

Therefore, the input string argument name must be `name` instead of `key`:

~~`func (m CustomFieldsManager) FindKey(ctx context.Context, key string) (int32, error)`~~
`func (m CustomFieldsManager) FindKey(ct

[2017-10-08 15:58] Akasurde opened #866 "vcsim: Failed to get Firmware Config Upload URL"
as $title, I am unable to get Fireware Config Upload URL using

```firmwareSystem.QueryFirmwareConfigUploadURL()``` method

Reproducer ::

[code]

vcsim prints following error:

[code]

[2017-10-09 16:37] dougm commented on #863
I hadn't tried it myself until now, but if backing.fileName is empty, ESX does default the disk name.
 Starts with `[$datastore] $vm_name/${vm_name}.vmdk`, add another disk you get `[$datastore] $vm_name/${vm_name}_1.vmdk` and so on.  I assume `$datastore` defaults to that of the vm config location.  We can do the same in vcsim.

[2017-10-09 18:04] #864 closed

[2017-10-09 21:35] anfernee commented on #866
@Akasurde I can help on this issue. can you explain what do you expect from this. a random URL, or a URL that you can actually upload files to? The real ESX server, this group of API is used to backup/restore a bunch of config file on the remote host. This is not much to be configured for vcsim, so those files don't a lot of make sense. A little more details will help a lot. Thanks.

[2017-10-09 23:02] #863 closed

[2017-10-10 03:13] #860 closed

[2017-10-10 14:57] warroyo commented on #616
any chance that @mgherman's code could be added to the library?

[2017-10-10 18:40] dougm commented on #616
Yes, can you open a PR @mgherman ?

I think it'd be fine to name those flags with the `cust` prefix as they wouldn't conflict with any existing flags.

Can also avoid reflection:
[code]

[2017-10-11 18:44] jctanner opened #871 "vcsim: runtime error: invalid memory address or nil pointer dereference"
[code]

[2017-10-11 18:46] jctanner commented on #871
[vcsim.log](https://github.com/vmware/govmomi/files/1376803/vcsim.log)

Attached full log with trace output showing the previous requests.

[2017-10-11 22:19] johnjelinek opened #872 "A specified parameter was not correct: pool"
[code]
I've matched the pool with what's available, why does this complain about my `pool`?

[2017-10-12 01:38] #871 closed

[2017-10-12 02:49] dougm commented on #871
@jctanner #873 should fix that

[2017-10-12 05:09] dougm commented on #872
The `pool` param to the `RegisterVm` is not supposed to be set when `template=true`.  The govc command  ignores the `-pool` when `-as-template=true`, but it still sets it when the `-host` is given (which we shouldn't do).

Just don't set the `GOVC_HOST` env var and vm.register should work.  No need for `GOVC_RESOURCE_POOL` either, as it will be ignored with `-as-template=true`.

[2017-10-12 14:36] johnjelinek commented on #872
If I leave off `GOVC_HOST`, I get this:
[code]

[2017-10-12 23:36] dougm commented on #815
confirmed, bandaid below fixes (cc @vancluever)

[code]

[2017-10-13 00:04] vancluever commented on #815
Thanks @dougm! Any chance on this getting in soon?

[2017-10-13 00:55] #815 closed

[2017-10-13 14:33] #872 closed

[2017-10-13 23:07] johnjelinek opened #878 "How do I vm.unregister a template?"
[code]

![vsphere_web_client](https://user-images.githubusercontent.com/873610/31569577-67a62ae2-b041-11e7-8c13-7ca6afaa7070.png)

why you lyin' to me `govc`?

[2017-10-13 23:12] #692 closed

[2017-10-13 23:17] dougm commented on #878
`-vm.ipath` uses the SearchIndex, which requires an absolute inventory path (including /datacenter-name/vm/).

You can use a relative path like so: `govc vm.unregister packer-templates/base`

[2017-10-14 05:25] johnjelinek commented on #878
sweet, that worked!

[2017-10-14 05:25] #878 closed

[2017-10-16 16:18] dougm commented on #825
This is supported now via #762 and #877
[code]

[2017-10-16 16:18] #825 closed

[2017-10-16 16:27] dougm commented on #830
Don't see how this could be a govmomi or govc issue, closing for now.  Feel free to update / re-open with any other info.

[2017-10-16 16:27] #830 closed

[2017-10-16 16:35] dougm commented on #616
Maybe we should consider a new 'vm.customize' command rather than putting more into the clone command?  Looks like it's possible to do so after cloning with the CustomizeVm_Task method.

[code]

[2017-10-16 16:35] jctanner opened #879 "vcsim: dvswitch list index out of range in pyvmomi"
[code]

I can't tell if this is the fault of pyvmomi or from vcsim's response to the request. If pyvmomi needs to be fixed, i'm more than happy to move the bug over to that project. I just need some guidance on making that determination.

[2017-10-16 16:39] jctanner commented on #879
[vcsim.log](https://github.com/vmware/govmomi/files/1388327/vcsim.log)

vcsim log output with -trace

[2017-10-16 16:49] dougm commented on #848
Any luck using the find command?

[2017-10-16 16:49] #848 closed

[2017-10-16 17:19] acortiana commented on #848
Yes, it worked, thanks!

[2017-10-16 18:50] dougm commented on #879
In 3f145230 we changed `VmwareDistributedVirtualSwitch` to `DistributedVirtualSwitch`.  We could revert the simulator portion of that change, or maybe you could change the get_all_objs call to use `vim.dvs.DistributedVirtualSwitch` instead of `vim.dvs.VmwareDistributedVirtualSwitch` ?

[2017-10-16 20:48] jctanner commented on #879
@dougm that doesn't seem to be a valid type for pyvmomi ...

[code]

[2017-10-16 23:37] dougm commented on #879
@jctanner looks like it's just `vim.DistributedVirtualSwitch`, rather than `vim.dvs.VmwareDistributedVirtualSwitch` - does that work for you?

[2017-10-17 01:14] jctanner commented on #879
@dougm yep, that works. Thank you

[2017-10-17 01:14] #879 closed

[2017-10-18 15:30] jorgelon opened #880 ""No network device found" cloning from a template without network adapter and govc"
Every time i try to clone a vm from a template using govc I get "No network device found". The original template has not network device. I dont know if it is correct or there is another workaround for that operacion. Basically I am trying to do a "deploy from template"

[2017-10-18 19:28] ooOOJavaOOoo commented on #844
Is there a special branch that I need to build for the / to work?  I've tried passing my/network and my%2fnetwork and both return "network not found"

[2017-10-18 21:54] dougm commented on #844
What is the name as printed by the command above (`govc find / -type n`) ?

Which command is returning "network not found" ?

Related changes are in the master branch, if the network was created by the API or ESX UI with a "/" in the name.

But we still don't do anything special yet if network was created by the vCenter UI (which escapes "/" to "%2f").

[2017-10-18 22:22] anfernee commented on #670
There are several bugs reported in this issue.

- [ ]  import.spec panic
- [ ]  import.ova/import.ovf error

[2017-10-18 22:24] anfernee commented on #670
I tried the latest govc, both not an issue for me anymore.

First issue:
[code]

Second issue:
[code]

[2017-10-19 03:02] ardrigh commented on #841
I just ran into this same question. I couldn't even find a reference to the API document in the source code.

Now I have used "centos7_64Guest" it works.

It's not something easily guessable as the correct name to use. So it would be good for some kind of documentation update, perhaps in USAGE ?

[2017-10-19 13:48] dougm commented on #841
@ardrigh yes, I have a branch with various doc updates including this, it'll be in the `vm.create -h` text + USAGE.md

[2017-10-19 19:20] ooOOJavaOOoo commented on #844
I am actually running Terraform Apply on a set of plans where I fed in "my/network".  If I create the port group using Terraform everything works fine, but if someone else made the port group through the API I cannot use the /, it returns "network xxxxx not found"

[2017-10-19 22:01] anfernee commented on #503
can this issue be closed now, since it seems there is already a solution.

[2017-10-19 22:07] anfernee commented on #496
I am closing this issue because it's more like a question. For further discussion, there is a slack channel:  https://github.com/vmware/govmomi#discussion Your questions will be answered there.

[2017-10-19 22:07] #496 closed

[2017-10-23 18:10] #651 closed

[2017-10-23 19:01] xavierl1 opened #888 "vcsim doesn't generate moref for VirtualMachine"
Hi,

We use moref internally to track the uniqueness of an object like VM or Host. A VC has info like "VirtualMachine:vm-15195". It will be much useful if vcsim has this info generated.

Thanks,
Xavier

[2017-10-23 19:06] xavierl1 opened #889 "vcsim generate Host moref different from a VC"
Hi,

A VC has Host moref like the following.
HostSystem:host-10

Vcsim generates this info slightly different.
HostSystem:hostsystem-52

It will be ideal if vcsim generates Host moref in the same format as a VC.

Thanks,
Xavier

[2017-10-23 23:23] anfernee commented on #889
@xavierl1 thanks for reporting the issue. Is there any use case where you require the moref to be like `host-xx` instead of `hostsystem-xx`? to my best knowledge, the value of moref is opaque, which shouldn't be interpreted in any way. Though current version of VC gives you `host-10` doesn't guarantee it will give you the same format in future releases. To be safe, I don't recommend hacking on thi

[2017-10-23 23:29] anfernee commented on #888
@xavierl1 in vcsim, we also generate moref internally. This is the way we refer to other objects internally. Just like to the regular user of vc, you might not see this weird moref value, but it is used everywhere.

[2017-10-23 23:32] anfernee commented on #880
Thanks @jorgelon for reporting the issue. Can you provide a reproducing steps and expected outcome, then it will very helpful for us to understand and fix the issue.

[2017-10-23 23:32] skywalk7 opened #891 "Error when looking for DistributedVirtualPortgroup name"
Wrong repo, sorry

[2017-10-23 23:33] xavierl1 commented on #889
@anfernee Thanks for the quick response. We are developing an appliance that retrieves moref from all versions of VCs. So far, all host moref is like "host-xxx". Since vcsim is a simulator, we prefer the look and feel is the same as a real VC. Internally, we use moref retrieved directly from a VC.

[2017-10-23 23:38] xavierl1 commented on #888
@anfernee From a real VC, I can get VM info like:
{{} VirtualMachine:vm-16299 {{} [{{} 0xc4202e53e0 4000}] HostSystem:host-10 connected poweredOn

But the info from a vcsim is like the following. The moref field is missing. Since we use moref as a unique ID for an object like VM, we need this field.
{{} <nil> {{} [] HostSystem:hostsystem-21 connected poweredOff

Thanks,
Xavier

[2017-10-23 23:39] #891 closed

[2017-10-23 23:44] anfernee commented on #888
It looks like output from a go program. Can you share the snippet?

[2017-10-23 23:48] xavierl1 commented on #888
Yes. It is basically the VM example.

package main

import (
	"context"
	"fmt"
	"log"

	"github.com/vmware/govmomi/examples"
	"github.com/vmware/govmomi/view"
	"github.com/vmware/govmomi/vim25/mo"
)

func main() {
	ctx, cancel := context.WithCancel(context.Background())
	defer cancel()

	// Connect and login to ESX or vCenter
	c, err := examples.NewClient(ctx)
	if err != nil {
		log.Fatal(err)
	}

[2017-10-24 00:35] #888 closed

[2017-10-24 00:45] vancluever opened #893 "object: VirtualDeviceList.CreateDisk should not require a ManagedObjectReference"
https://github.com/vmware/govmomi/blob/bfed5eea1ab6e9b69e24c934792ad5b5aac8d2e4/object/virtual_device_list.go#L436

Looks like this function takes a non-pointer `types.ManagedObjectReference` right now, even though that parameter is not necessary in `VirtualDiskFlatVer2BackingInfo`. I'd like to be able to supply `nil` to this function to tell vShpere to create the backing in the same datastore as

[2017-10-24 03:17] dougm commented on #893
Not sure how we ended up with ds being a mandatory param to `CreateDisk()`, other than that it was related to adding datastore cluster support.  We could either break the method signature, or change to check `if ds.Value == "" { // derive ds.Value from the name param }`.

[2017-10-24 11:36] jorgelon commented on #880
I have a template without network interface. If I use vm.clone from that template i get the error "No network device found". I get this error with and without using -net and -net.adpater parameters.

If i use vm.clone from a vm with network interface it works.

[2017-10-24 15:21] vancluever commented on #893
Yeah not a huge deal right now, as I'm just zeroing out this value after the fact (as in the new VM code for TF there's a lot of other device options that need to be set anyway).

I think a zero-value check on either the whole moref or at least on `Value` would be the least breaking change and would be fine, it could then either be called:

[code]

Or how I currently have it in the new refactor:

[2017-10-24 18:42] anfernee commented on #889
@xavierl1 this is an incomplete list but it should cover the most popular cases. https://github.com/vmware/govmomi/pull/894/files#diff-49c8099fdee914770c183c1c73c03f57R32 Is it good for you now, or should I add more into it? Let me know.

[2017-10-24 19:49] xavierl1 commented on #889
@anfernee Currently we are using the following morefs.

 datacenter-2
 domain-c299
 domain-s206
 group-d1
 group-h4
 group-v10338
 host-101
 resgroup-312
 vm-10218

Thanks,
Xavier

[2017-10-24 19:52] xavierl1 commented on #889
There is another one:

 resgroup-v502362

Thanks,
Xavier

[2017-10-24 20:11] anfernee commented on #889
@xavierl1 are you okay with `group-11` instead of `group-d11`? I think in VC, `group-d` means folder for datacenter, `group-h` means folder for host, etc. For vcsim, it's hard to know what the folder is used for. It should look similar.

[2017-10-24 20:15] xavierl1 commented on #889
@anfernee I am OK with it.

[2017-10-24 20:42] #889 closed

[2017-10-24 20:42] #880 closed

[2017-10-25 15:36] vancluever opened #896 "Crash in Task.Wait after operation blocked by license"
Hey all,

Got this in terraform-providers/terraform-provider-vsphere#223 this morning:

[code]

Any thoughts right off the bat? Seems like whatever they were trying to do (create a VM) was blocked due to license restrictions and then caused a crash.

Let me know!

[2017-10-25 15:45] dougm commented on #896
In this case you probably want to `return err` as `task` will be nil `if err != nil`:
https://github.com/terraform-providers/terraform-provider-vsphere/blob/eb9a0ad0a0f80048cd3adc407c6e18e8f4d01f56/vsphere/resource_vsphere_virtual_machine.go#L2109-L2112

[2017-10-25 17:03] vancluever commented on #896
Sigh, thanks and sorry @dougm, should have looked at that bit further :stuck_out_tongue:

Closing now

[2017-10-25 17:03] #896 closed

[2017-10-25 21:35] anfernee commented on #488
the warning comes from VC, as described here: http://pubs.vmware.com/vsphere-6-5/index.jsp#com.vmware.wssdk.apiref.doc/vim.OvfManager.CreateDescriptorResult.html

Close this issue, because govc as a client is doing what it should do.

[2017-10-25 21:35] #488 closed

[2017-10-25 22:04] joshw opened #897 "govcsim model is missing some properties, returning errors or empty responses"
The following queries illustrate the problems I've found:

**Error (EOF, and  reflect: call of reflect.Value.Type on zero Value)**
[code]

**Empty response (no objectSet)**
[code]

[2017-10-25 22:45] anfernee commented on #503
close this issue. @giminni if it's still a problem, please reopen it.

[2017-10-25 22:45] #503 closed

[2017-10-25 23:26] #487 closed

[2017-10-26 04:57] dougm commented on #897
I have filled in most of the blanks, will get a PR open tomorrow and include in the upcoming tag&release.

[2017-10-27 00:14] #897 closed

[2017-10-28 19:45] pdellaert opened #904 "govcsim: pyvmomi fails to get portgroups on a newly created DVS in govcsim"
I was using Ansible together with the govcsim to test changes to a module, and ran into the below error.

My playbook first creates a DVS, and then creates a new portgroup on that dvs:
[code]

This is the error
[code]
The relevant part seems to be in pyvmomi lines (last 3 file mentions). It seems that on a `DistributedVirtualSwitch` object, calling the `portgroup` object will fail in pyvmomi with

[2017-10-30 07:12] kasper5 opened #905 "govc guest.upload command fails with "dial tcp X.X.X.X i/o timeout""
Hi,

When I use the guest.upload command it fails with the following error msg:

`govc: Put https://10.94.254.36:443/guestFile?id=6&token=5236206b-7183-db49-c155-4c7452335a7d6: dial tcp 10.94.254.36:443: i/o timeout`

Anyone know why?

[2017-10-30 17:55] anfernee commented on #905
I cannot reproduce this issue. Is your esx server working? If you curl it, you should be able to get a html page back.

[code]

[2017-10-30 23:05] dougm commented on #904
@pdellaert does this solution apply here too? https://github.com/vmware/govmomi/issues/879#issuecomment-337074322

[2017-10-30 23:16] anfernee commented on #904
To add some context, the problem of this `list index out of range` is due to the `vmware_dvswitch` module tries to find dvs with type `VmwareDistributedVirtualSwitch`, while all the dvs created in vcsim is of type `DistributedVirtualSwitch`. so the result object list is empty.

[2017-10-31 05:36] pdellaert commented on #904
@dougm,yes, as @anfernee seems to suggest, that might be the case. However, why do we have two different types? I assume in an actual vCenter they behave the same?

[2017-10-31 05:51] dougm commented on #904
Yes, it is the case that vcsim uses the base type `DistributedVirtualSwitch`.

The `VmwareDistributedVirtualSwitch` extends that type, adding a `lacpGroupSpec` field and a method to update that field: http://pubs.vmware.com/vsphere-6-5/index.jsp#com.vmware.wssdk.apiref.doc/vim.dvs.VmwareDistributedVirtualSwitch.html

Unless you need do to something specific to `lacpGroupSpec`, stick with the base

[2017-10-31 05:57] pdellaert commented on #904
@dougm , thanks... It does seem that during startup of vcsim, it creates a `VmwareDistributedVirtualSwitch`, because when i try to add a portgroup to the existing DVS (DVS01), it works perfectly. The issue comes when i first try to create a DVS (using https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_dvswitch.py) , that i can't add a portgroup to it, because it

[2017-10-31 15:17] dougm commented on #904
Hmm, if you're seeing a `VmwareDistributedVirtualSwitch` at startup, you should update to the latest.  With the latest, you should see:
[code]
Rather than `Vmware`:
[code]

[2017-10-31 22:42] vancluever opened #907 "VirtualDeviceList, PCI devices, and reserved unit numbers"
I think there might be a bit of an issue with working with device unit numbers and PCI devices.

Consider the following scenario where we add a SCSI controller, a disk, and a virtual NIC, working off a base device list fetched from the environment browser. We follow the same workflow for all of the devices, namely create the device, assign it to a controller using `AssignController` (except for th

[2017-11-01 18:12] caglar10ur commented on #907
@vancluever maybe https://kb.vmware.com/s/article/2047927?language=en_US and http://d.hatena.ne.jp/incarose86/20150117/1421509639 could help

[2017-11-01 21:00] vancluever commented on #907
Hey @caglar10ur, that's definitely useful, but not necessarily covering what I'm referring to here - I'm more referring to the parameters of the `VirtualDevice` object in the API - as seen here: https://pubs.vmware.com/vsphere-6-5/topic/com.vmware.wssdk.apiref.doc/vim.vm.device.VirtualDevice.html

Funny enough out of curiosity I did take a look at an VMX file from one of our acceptance tests and d

[2017-11-03 22:47] #800 closed

[2017-11-06 14:51] danofa opened #912 "ServiceManager help"
Hi,

I am unable to find a way to utilise the ServiceManager -> https://www.vmware.com/support/developer/converter-sdk/conv60_apireference/vim.ServiceManager.html

Could anyone point me in the right direction ? I've done some digging and I'm not even sure its implemented (like Perfmanager) is this correct ?

Cheers

[2017-11-06 16:28] dougm commented on #912
It's there in the generated code: https://github.com/vmware/govmomi/blob/master/vim25/mo/mo.go#L1467-L1471

But there are no helpers around it.  You may want to look at HostServiceSystem as an example: https://github.com/vmware/govmomi/blob/master/object/host_service_system.go#L32
And the govc host.service commands: https://github.com/vmware/govmomi/tree/master/govc/host/service

You can also acce

[2017-11-06 17:23] dougm commented on #907
Haven't had a chance to take a close look at this myself yet, will try to do that in the next day or two.

[2017-11-06 18:13] vancluever commented on #907
Thanks @dougm, for now I have my own logic local to the vSphere TF provider that assigns the unit numbers in the 7-16 range for NIC devices and that seems to be stable. We aren't managing any devices on the PCI bus otherwise, or at least in a way that we need to worry about unit numbers (ie: we aren't tracking unit numbers on SCSI devices for example).

[2017-11-08 15:01] dougm commented on #905
The `InitiateFileTransferToGuest` returns a URL with the ESX HostSystem name where the VM is currently running.  We've had issues in the past using the name, so we use a management IP instead:

https://github.com/vmware/govmomi/blob/b227a2582a9e5175fc778fc6a03b98aa14534927/guest/file_manager.go#L168-L171

Sounds like you don't have a route to that IP from where you're running govc.  Does the curl

[2017-11-09 07:05] kasper5 commented on #905
Thank you both for your responses. I am able to reach the esxi hosts just fine so I don't think there's any route problems.

If I do:

`curl -k https://10.94.254.37`

I get:

![screenshot_2017-11-09_08-02-34](https://user-images.githubusercontent.com/11734075/32592551-8a18df28-c524-11e7-9978-8a9ba19871a6.png)

I forgot to mention that the ESXi hosts is currently running in evaluation mode, could t

[2017-11-10 09:27] kasper5 commented on #905
I just retested on a different OS (Ubuntu) and everything works great. I only get the error when I am running it from a FreeBSD jail (sorry probably should have mention this before), is there some limitations on using govc inside a FreeBSD jail?

[2017-11-15 05:11] dougm commented on #905
govmomi/govc doesn't know anything about jails.  Does the curl command work from the jail?

[2017-11-15 15:22] Akasurde opened #919 "vcsim does not check for guest os id"
vcsim does not validate [guest os id](https://www.vmware.com/support/developer/converter-sdk/conv43_apireference/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html) provided by automation

I am using following Ansible playbook

[code]

Run

[code]

Here if guest_id is specified as 'sample', vcsim does not complain and creates VM.

Expected:
vcsim should complain about wrong guest id like ESXi server

[2017-11-16 22:43] #919 closed

[2017-11-17 05:43] Akasurde commented on #919
@dougm Thanks for the quick fix.

[2017-11-17 09:00] ausevj opened #922 "vcsim: PropertyCollector WaitForUpdatesEx incremental change detection"
Putting up a feature request to support incremental change detection for PropertyFilter in PropertyCollector (WaitForUpdatesEx) - version number should increase incrementally as well as support ObjectUpdateKind (enter, leave, modify).

Using WaitForUpdatesEx on real VCenter we only get the response when at least one of the properties in the specified filter has changed. The returned version is a n

[2017-11-17 10:21] ausevj opened #923 "vcsim: PropertyFilters not destroyed when Session is closed"
PropertyFilters are not being destroyed when user terminates the session (e.g. login, logout).

**Steps to reproduce:**
1) Login
2) CreateFilter
3) Call WaitForUpdatesEx with empty version (returns a set of filters that user created)
4) Logout
5) Login
6) CreateFilter
7) Call WaitForUpdatesEx with empty version

**Results**
Executing these steps on vcsim server, second WaitForUpdatesEx returns Upd

[2017-11-17 14:46] ausevj opened #924 "vcsim: unable to add host to DVS"
1) Launch vcsim with default parameters:
[code]
2) Create a new DVS:
[code]
3) Try adding default host to DVS:
[code]

As far as I understand hosts are created with 1 pnic, on which sits the default "vSwitch0", so there is no room to add the DVS, or am I missing some configuration?

[2017-11-17 19:23] dougm commented on #923
While vcsim's SesionManager.Login returns a session key, we don't currently track it across requests.  So the managed objects that should be per-session (such as PropertyFilter, ContainerView, ListView), are not currently associated with a session.

[2017-11-21 05:10] dougm commented on #535
The types and methods were indeed already there, but with the new govc commands #928 there are examples of how to use them.  The powershell script would translate roughly to:

[code]

cc @embano1

[2017-11-21 16:25] Akasurde opened #929 "Support 'numCoresPerSocket' in vcsim"
Currently, vcsim does not support 'numCoresPerSocket', so Could you please support this feature ?

Ansible Playbook

[code]

Actual PDB output :
[code]

Expected PDB output :

[code]

[2017-11-21 17:45] #924 closed

[2017-11-21 19:59] #929 closed

[2017-11-21 21:02] dougm commented on #535
Closing this with #928 merged.  Happy to provide any pointers and/or refactor some of the new govc related code in to helpers that can also be used by Terraform if needed (cc @vancluever)

[2017-11-21 21:02] #535 closed

[2017-11-21 21:14] vancluever commented on #535
Hey @dougm - DRS is something we will be looking at in the next few months so I think for sure we will have some feedback here. DRS rules is actually something that we have had a feature request on, so I think the more helpers here the better - and in general otherwise too :slightly_smiling_face:

I actually have a few that will need to be contributed back when I have some time to go over things,

[2017-11-22 00:17] lcastellano opened #931 "Removing a role from vcsim role list propagates into the next instance of vcsim"
I create a simulator in a unit test, when the test is finished the ReadOnly role is removed. This results in removing the ReadOnly role from esx.Roles. The next test (from the same module) tries to create a new simulator and it dies in the function: NewAuthorizationManager() at this line:
**m.system = l.ByName("ReadOnly").Privilege**

[2017-11-22 18:36] amandahla opened #933 "panic: runtime at property.(*Collector).Retrieve"
I'm collecting vms like this:

[code]

Then I want to see the network names from which VM and made like this:

[code]

Then I got:
[code]

I don't know why this is happening here. Any help?

[2017-11-22 19:51] dougm commented on #933
Avoid the call toRetrieve if `len(vm.Network) == 0`.  We can also change Retrieve to handle that case.

[2017-11-22 20:40] amandahla commented on #933
Great @dougm
You made me see that I was doing wrong actually. Since I retrieved only Summary, I needed to use vm.Summary.Vm.Reference() instead vm.Network then retrieve this reference for finally get network.

[code]

[2017-11-22 22:21] gigawhitlocks opened #934 "govc vm.ls kills VIC appliance VM"
So I've hit a really bizarre issue in `govc`/`govmomi`.
Steps to reproduce:

Install a VIC VCH on ESXi with `vic-machine` in the standard way, then, after updating your environment to point `docker` at your VCH:

`docker create --name foo busybox`
`cat some-archive.tar.gz | docker cp - foo:/`
`govc vm.ls $VCH_NAME /tmp`

`govc` will hang. The VCH will stop responding. `govc vm.ip` will hang. `govc

[2017-11-23 06:51] Akasurde opened #935 "vcsim build fails with error"
I am trying to build latest vcsim code with go v.1.9.1, and I am getting following error

[code]

Could you please help me understand what is wrong here ?

[2017-11-23 13:49] Akasurde opened #937 "vcsim fails when MakeDirectory is called"
When trying to create a directory inside datastore with `vim.fileManager.MakeDirectory` API, vcsim fails with "RuntimeFault" with no message.

[code]

`self.content.fileManager.MakeDirectory(name=path_on_ds)` works on ESXi but does not work for vcsim.

Reproducer Ansible PR - https://github.com/ansible/ansible/pull/33230

[2017-11-24 17:18] Akasurde commented on #937
[code]

[2017-11-24 17:24] Akasurde commented on #935
False alarm. Closing this issue.

[2017-11-24 17:24] #935 closed

[2017-11-24 18:08] #933 closed

[2017-11-24 18:09] #931 closed

[2017-11-24 18:45] dougm commented on #934
The code assumes `offset` is still valid, which it shouldn't (will fix).  With the tether/toolbox panic, none of the guest operations/queries will work until tether has restarted.

[2017-11-24 19:00] #937 closed

[2017-11-27 22:47] dougm commented on #841
Included in 7d879ba

[2017-11-27 22:47] #841 closed

[2017-11-29 06:22] murarisumit commented on #616
It it resolved now ??

[2017-11-29 16:05] josdotso opened #940 "How can I find hosts with named "host profile" using govc?"
I can't seem to locate the right `govc object.collect` incantation to identify the property path such that I can use it in a `govc find`.

[2017-11-29 17:38] gigawhitlocks commented on #934
Do you know what causes the `offset` to become invalid @dougm ? I'm triggering this error case in the PR I'm currently working on and I'm trying to understand what's causing it. (PR for reference is https://github.com/vmware/vic/pull/6808 )

[2017-11-29 18:00] dougm commented on #934
I think if files have been removed in between requests.  I'm going to write a test to reproduce before fixing.

[2017-11-29 20:54] gigawhitlocks commented on #934
Ping me on Slack if you need more info. You may have to build off of my branch to reproduce.

[2017-11-29 21:39] dougm commented on #940
I haven't used host profiles before, are you able to find this data using the MOB?

[2017-11-30 08:42] huyujie opened #941 "method DefaultDatacenter err"
I can't understand,
[code]
Most of the time,len(dcs)>1,so it will return err for us in most of the time.

[2017-11-30 16:27] dougm commented on #941
Use the `path` param to specify a specific datacenter name or path.  For example `DC1`, `/DC1`, `/FolderName/DC1`.

[2017-12-01 22:28] johnjelinek opened #942 "Inflate Disk"
I have a template and I'd like to inflate it. I can do this with `vmkfstools --inflatedisk *.vmdk` -- but I'd really like to use `govc`. Is this currently possible?

[2017-12-02 00:47] dougm commented on #942
@johnjelinek possible with PR #943

I hadn't used it before, but both `vmkfstools --inflatedisk` and  `govc datastore.disk.inflate` look to have the same results.  Disk created with type `thin` results in `eagerZeroedThick` and zeroed to capacity.

[2017-12-02 01:05] johnjelinek opened #944 "Remove orphan templates"
In my case, the files associated with a template has already been removed from the disk. If I run: `govc vm.unregister packer-templates/base` it says:
[code]
and the orphan remains. How can I remove it from the inventory? It doesn't have a `vmid` anymore. It doesn't even show up in `/etc/vmware/hostd/vmInventory.xml`.

[2017-12-02 09:13] Akasurde opened #945 "vcsim creates stack trace"
vcsim creates following stack trace when pyvsphere library is used to get details about datacenter -

[code]

Python stack trace is

[code]

[2017-12-02 09:19] Akasurde commented on #945
Here is request where it fails

[code]

[2017-12-04 19:01] #685 closed

[2017-12-04 19:01] #942 closed

[2017-12-05 09:06] Akasurde opened #947 "vcsim: unable to create local user using -esx mode"
I am unable to create a local user using vcsim with -esx mode

I am getting following

[code]

[2017-12-06 06:54] wangweihong opened #948 "frequent run 'govc events' get no events return"
I' m writing a program to watching vsphere event change : every 5 second get vsphere events. At first, I can get vsphere events correctly； However, after a while , vsphere return 0 event and the api return no error.
I try to reproduce the problem in govc,run `govc events` quickly , this is what it displays:
[code]
By the way,  if I specify output events larger that 1000, `govc events -n 1001`, I g

[2017-12-07 13:10] vfiftyfive opened #949 "govc: can't change VM network to VSS portgroup if portgroup names is similar to an existing VDS portgroup"
Hi,

I've got 2 individual port-groups with the same name. One backed by a VDS and the other one by a VSS. Both virtual switches are available to the host housing the vm where I'm trying to initiate a network change for the ethernet-0 device on the VSS portgroup:
`govc vm.network.change -vm $vm -net /path/to/VSS/my-portgroup ethernet-01`

throws the following error
`govc: A specified parameter was

[2017-12-09 16:13] vfiftyfive commented on #949
Solve, problem on client side.

[2017-12-09 16:13] #949 closed

[2017-12-11 04:30] freebsdly commented on #616
@mgherman did it

[2017-12-11 07:18] bradfitz opened #952 ""ServerFaultCode: The operation is not supported on the object""
I've used govc successfully in the past, and I have production jobs using it regularly, but today I'm trying to use govc with my homelab cluster, which it doesn't seem to like:

[code]

Does that mean my VMUG EVALExperience license for my 3-node vSphere + vCenter HA setup doesn't include API access?

If so, can we get a better error message in govc telling users what the actual problem is?

Or do

[2017-12-11 13:55] faridlahdiri opened #953 "govc: Another task is already in progress"
Hi,
We have been deploying VMs using the govmomi / govc cli. It works great. Lately we have seen some errors in our CI lab (We use ansible roles to deploy a bunch of VMs) related essentially to adding or inserting a cdrom into a VM.
Thanks in advance
/Farid

Here is one of the errors
/usr/local/bin/govc device.cdrom.insert -vm=vm1 -ds=datastore1 vm1/vm1.iso
"stderr": "/usr/local/bin/govc: Another

[2017-12-11 19:20] dougm commented on #952
Hey Brad, I haven't used the vmug license before, I'll have to look into it.

Can you check if your license has the vimapi feature enabled:

[code]

And share your edition keys if it doesn't (will help me track down this licence):
[code]

[2017-12-11 19:28] #934 closed

[2017-12-11 19:54] dougm commented on #952
Then again, if `govc about` fails, you likely can't collect the license properties either.

[2017-12-11 20:00] anfernee commented on #953
Hey @faridlahdiri  this is a ESX error. Basically when you do concurrent operations (tasks) on the same object (vm), you will have that error. You can use `govc tasks` to check the tasks running on the target.

[2017-12-11 20:05] bradfitz commented on #952
Yeah,

[code]

From the web UI, I see:

<img width="807" alt="screen shot 2017-12-11 at 12 03 25 pm" src="https://user-images.githubusercontent.com/2621/33851287-5bee13b0-de6b-11e7-9e88-9941022a0cb8.png">

Maybe I need to add more VMUG licenses or something.

But considering that I was able to set up an HA vCenter configuration, I'd be surprised if there was a license that allowed HA but did not a

[2017-12-11 20:13] dougm commented on #952
Looking at this list: https://www.vmug.com/Join/EVALExperience

"VMware vSphere® ESXi Enterprise Plus with Operations Management™" should work if you assign it to your ESX hosts.

Normally the "eval" license that is included in the default install allows API access (until the eval expires).  I use this script to assign licenses: https://github.com/vmware/govmomi/blob/master/scripts/vcsa/README.md#

[2017-12-11 23:00] bradfitz commented on #952
I had a giant reply written here with all my debugging steps, but then as I was reading through the HTTP requests & responses from the `-debug` flag's output to `~/.govmomi/debug`, I kept setting `<userName>bradfitz</userName>` instead of my actual username `brad@vsphere.xxx.com`.

Whoops--- I had `GOVC_USER` set in my environment, not `GOVC_USERNAME`.

Sigh.

Sorry.

But a nicer error message wou

[2017-12-11 23:40] dougm commented on #952
Argh, sorry Brad, this confusion is govc's fault.  Fixed in #955 so the error message in this case will be:
[code]

[2017-12-12 00:38] #952 closed

[2017-12-12 01:37] johnjelinek commented on #944
It's an inventory folder

On Dec 11, 2017 1:35 PM, "Doug MacEachern" <notifications@github.com> wrote:

[2017-12-12 04:48] Akasurde opened #956 "vcsim: does not support 'NestedHVSupported' Property"
I am unable to set 'NestedHVSupported' property of virtual machine using govc and vcsim.

[code]

[2017-12-12 12:29] angystardust opened #957 "Manage tags with govc"
Is it possible to add support for creating/managing and assign tags with govc?
It would be great to have the same feature available via PowerCLI:
https://blogs.vmware.com/PowerCLI/2014/03/using-vsphere-tags-powercli.html

[2017-12-12 17:17] dougm commented on #944
What about `ls` and `find` question?  If it doesn't show up there, you can just use `datastore.rm` to remove any files left behind.

[2017-12-12 20:35] #945 closed

[2017-12-12 22:45] anfernee commented on #948
@wangweihong I cannot reproduce this issue. Is it just `govc events` or it affects other commands. If you login thru UI, can you see those events?

[2017-12-13 00:58] bradfitz opened #960 "govc vm.clone -net.address doesn't work, silently does nothing?"
I'm trying to set an explicit MAC address for a cloned VM. If I do this:

[code]

... and it clones & boots and everything works, except the VM comes up with a random MAC address.

I get no error that my `-net.address` was wrong or otherwise ignored.

I'd expect it to either work, or fail and tell me why it won't work.

How can I help debug?

[2017-12-13 01:29] #947 closed

[2017-12-13 01:43] dougm commented on #960
iirc you can't use the VMW OUI  `00:50:56` for static mac addresses, but can't recall why it just ignores you rather than fail.  Can you use a different OUI?  `00:00:0f` is the NeXT OUI use in this test:

https://github.com/vmware/govmomi/blob/master/govc/test/network.bats#L138

[2017-12-13 02:08] bradfitz commented on #960
I only picked `00:50:56` because it was used by one of my cloned VMs and I saw it was owned by VMware, so figured it was safe to use.

I'll try other OUIs. I didn't know vSphere cared. Thanks!

Oh, and I found https://networkengineering.stackexchange.com/questions/18747/differentiating-oui-mac-addresses-from-random-mac-addresses with hints on how to generate locally-assigned MAC addrs.

It'd be ni

[2017-12-13 03:44] hickeng opened #961 "Call DestroyCollector when event processing comletes"
There is a convenience method [events.Manager.Events](https://github.com/vmware/govmomi/blob/cabbd96b5ebd8ae0cee867331a009c16963808c9/event/manager.go#L172) which constructs one or more EventHistoryCollectors and uses them to provide an event stream.

Currently there is no way to access those collectors and there is no logic to delete them when the stream completes as per http://pubs.vmware.com/vs

[2017-12-13 10:23] wangweihong commented on #948
@anfernee  It doesn't affect other command .events are still showed in UI. when quickly run `govc events`(less than one second), it will reproduce.

[2017-12-13 17:38] dougm commented on #948
Was looking at #961 , which is actually the cause of this issue.  I didn't see the issue against ESX, but did against VC.  Fix on the way.

[2017-12-13 17:43] anfernee commented on #948
good, I was verifying against an esx.

[2017-12-13 17:49] sivel opened #963 "vcsim: support importing an OVF"
It does not appear as though vcsim supports importing an OVF, resulting in the following error:

[code]

A trace from my interactions trying to deploy an OVF: https://gist.github.com/sivel/4da863d7ff35955f7aaf0196a69bdd2b

Command:

[code]

[2017-12-13 18:23] #948 closed

[2017-12-13 18:23] #961 closed

[2017-12-14 13:36] Akasurde opened #965 "vcsim fails to mark VM as template"
I am unable to mark VM as template using vcsim created VM.

[code]

Python Traceback

[code]

Python reproducer

[code]

[2017-12-15 17:54] anfernee commented on #956
@Akasurde your `vm.change` command here `govc vm.change -nested-hv-enabled=True -vm DC0_H0_VM5` won't affect `Capability.NestedHVSupported`. It should change `Config.NestedHVEnabled` but it hasn't. The PR will fix that.

[2017-12-15 18:47] #956 closed

[2017-12-16 12:16] Akasurde opened #968 "vcsim: Unable to list virtual machine's snapshot"
I am unable to list the snapshots of VM, when no snapshot exists for given VM.

Here is reproducer -

[code]

I get traceback like -

[code]

govcsim trace =

[code]

[2017-12-17 16:19] Akasurde opened #970 "vcsim: Unable to set bootOrder of virtual machine"
I am unable to set boot order for virtual machine created by vcsim,

[code]

Expected Result:

vcsim should honour the bootOrder provided by bootOptions Config parameter.

[2017-12-17 17:16] dougm commented on #957
Not yet.  This api and content library (#735) are only available in the REST api, so they aren't included in the wsdl generated code in govmomi.

Have been considering adding just this subset of the REST api to govmomi, we have the start of tags here: https://github.com/vmware/vic/tree/master/pkg/vsphere/tags

[2017-12-17 17:21] dougm commented on #963
We don't yet, but planning to add a some point.
Closing a dup of #799

[2017-12-17 17:21] #963 closed

[2017-12-17 17:24] dougm commented on #941
Please re-open if you're still having issues with this method.

[2017-12-17 17:24] #941 closed

[2017-12-17 17:25] dougm commented on #912
Did you find what you need @danofa ?

[2017-12-17 17:27] dougm commented on #905
Closing as this sounds like an issue with the jail, rather than govmomi.  Feel free to open with more info if you want to look into it more.

[2017-12-17 17:27] #905 closed

[2017-12-17 17:33] dougm commented on #904
@pdellaert were you able to work this out?  Feel free to open with more info if there are still issues.

[2017-12-17 17:33] #904 closed

[2017-12-17 18:28] ryancurrah commented on #735
We just finished a VMWare image building and testing pipeline that utilizes Packer, test-kitchen and Jenkins. We to we’re pleasantly surprised to find out vSphere has this little known feature called content libraries. The biggest advantage to it for us is remote content library support. This means we can manage images/templates on one vSphere instance and all the others can use it. Instead of hav

[2017-12-17 19:00] dougm commented on #735
Thanks Ryan, I didn't know about the remote support (still yet to use content library myself), but can see how that'd be a big win.

[2017-12-17 22:24] danofa commented on #912
Hi @dougm, no I gave up trying to implement the needed helpers, but thanks for the information.

[2017-12-17 22:24] #912 closed

[2017-12-18 15:47] jeremy-clerc opened #971 "govc: allow columns in guest login password"
Current implementation uses strings.Split: https://github.com/vmware/govmomi/blob/e15ff586b59d4bfeb27fc5e915645db6490b6dd1/govc/vm/guest/auth.go#L42

Which means, if the password has any column, it will be be truncated, example:

user:pass:word -> user, pass instead of user, pass:word.

An improved behavior would be to use SplitN(..., 2), to ignore columns after the first split.

I will link a pul

[2017-12-19 01:40] #971 closed

[2017-12-19 22:20] anfernee commented on #968
it seems the `PropertyCollector` didn't return the result. looking into it.

[2017-12-20 04:35] #968 closed

[2017-12-20 04:36] #970 closed

[2017-12-20 14:38] Akasurde commented on #968
@anfernee Thanks for this fix. This is working but "RenameSnapshot" API fails -

[code]

[2017-12-28 21:14] #965 closed

[2017-12-29 11:20] CoolDuke commented on #447
I also encounter the problem when using SearchDatastoreSubFolders on a datastore. Running GetFileInfo() on a virtual disk file is returning the provisioned size instead of the real file usage in the datastore.

[2017-12-29 12:04] CoolDuke commented on #447
After deeper research I found out that if you search a datastore with disabled FileType in the FileQueryFlags the received file sizes differ.

[2017-12-29 23:40] Akasurde opened #979 "vcsim: DistributedVirtualPortgroup does not have Portkeys"
As $title, DVPG created by vcsim does not have 'PortKeys' as mentioned in documentation.

Here is reproducer -

[code]

Traceback -

[code]

[2018-01-02 08:08] jnahelou opened #980 "Get AntiAffinityRule key"
Hi,

While trying to automate anti-affinity rules, I was not able to find properly the key generated by vCenter for my rule(s).

I create rules like :

[code]

The result provided by the ```Reconfigure()``` method is null :

[code]

There 2 way I found to get the ```rule.Key``` and ```rule.Uuid``` :
 -  using event manager as bellow to parse logs....

[code]

- or by listing all rules and looking

[2018-01-02 17:13] sivel commented on #799
Is there any chance of getting priority assigned to this feature request?  We'll be blocked in ansible merging a PR until after this functionality exists so that we can test effectively.

[2018-01-03 05:03] dougm commented on #980
Right, the `ReconfigureComputeResource_Task` API does not return any value.  Using the Configuration properties is the best way that I know of.

btw, we recently added govc commands to manage cluster rules: https://github.com/vmware/govmomi/tree/master/govc/cluster/rule

[2018-01-03 07:23] jnahelou commented on #980
As I understand, ```rule package``` lookup the ```key``` using ```name``` property, but ```name``` is not unique in vCenter. In some cases, user can create first manually a rule with the same name but different VMs... By this way the cli will modify the wrong rule right ?
Tracking the event log seems my only solution if I want to ensure the good rule :'(

[code]

Thanks for you tips.

[2018-01-03 08:31] Akasurde opened #981 "vcsim: failed to get information about datastore returned from vm"
Stack trace is raised, when trying to access various properties of datastore which is taken from Virtual Machine's device backing datastore.
Trace
[code]
Here is reproducer -

[code]

[2018-01-03 11:43] Boran commented on #616
Why was the issue closed? There is no PR yet fro mgherman's code, this (useful) feature has not been integrated into the govc cli?

[2018-01-03 14:49] Boran opened #982 "vm.clone"
Hi,

Am trying to create VMs from a template:
[code]

but get the error:

The error message is probably a red herring though, since if the VM is deployed from the Template via the vSphere UI (same folder, pool, customizaton, network), there is no error.

It never gets to the stage of booting the VM (i.e. talking to the vmtools daemon).

Net1: The network has DHCP, so the IP is assigned automatical

[2018-01-04 06:50] Boran commented on #982
I did tests with a different template and the clone worked fine, so it _is_ a  template problem. Am closing this issue.

[2018-01-04 06:50] #982 closed

[2018-01-04 15:13] stainboy opened #984 "CustomizationSpec management API wanted in govc CLI"
This issue will probably be a duplication of #616, but it explains the use case in a different way.

When using `govc vm.clone`, there is no way to pass dynamic `CustomizationSpec`. govc will always retrieve an existing spec from esxi/vcenter and try to use it, via `--customization` args.

Details can be found in the following code,

govc/vm/clone.go

[code]

But there is no `CustomizationSpec` ma

[2018-01-05 00:15] dougm commented on #984
Yes, I like the idea of a `vm.customize` command: https://github.com/vmware/govmomi/issues/616#issuecomment-336944682

I still have yet to use customizations myself, any pointers would be appreciated, such as:
- Simple OS template to test with (ideally automated via packer for example)
- Any GUI screenshots that shows the manual workflow to define / apply customizations

[2018-01-05 00:17] dougm commented on #980
I hadn't considered duplicate names in this case.  Maybe for the govc command we could error if name is not unique and add a flag to use the key instead.

[2018-01-05 13:35] Boran opened #985 "govc: reading/writing metadata about VMs"
Hi, looking to understand how to read and write metadata on Vms.

a) When creating a VM, there is "-annotation=" option. Where can the value be read from the vCenter UI? It is not under "Notes". How can one set a value in the Notes with govc?

b) Fields/custom attributes.
These can be set with  "govc fields.set Key Value Vmname"
They are visible in the vCenter UI. How can they be read with govc?
"

[2018-01-05 20:44] dougm commented on #985
a) yes, `-annotation` is displayed in the GUI "Notes" section.  You should also see it here, when set from govc or the GUI:
[code]
b)
[code]

c) Don't know, but there should be docs and examples in other languages on that.  I can help convert to govc commands if you can find some pointers.

d) Don't know, have you tried using guestinfo with a template?  Or maybe the tags API (#957) can do that?

[2018-01-08 00:11] naphatkrit opened #986 "vcsim: make authentication actually required"
Right now, authentication is not actually required for any of the API calls, making it hard to use vcsim to test workflows around authentication.

To demonstrate this, run `govc` but with `GOVC_URL=https://127.0.0.1:8989` (and NOT `GOVC_URL=https://user:pass@127.0.0.1:8989`), then apply the following diff to comment out the login:
[code]

Notice that `govc` commands continue to work just fine.

[2018-01-08 13:36] Boran commented on #985
a)+b): thanks very much.

c) "How does one assign rights to users to allow them to write Fields"
Found a solution: In vCenter v6.5, one creates a Role with the right "Global > Set custom attribute"

d) In fact, after fixing the rights, fields.set works just fine (even if it cannot be done from the UI)

[2018-01-08 13:36] #985 closed

[2018-01-08 15:57] dougm commented on #986
This will be fixed when PR #983 is merged.

[2018-01-08 20:16] #923 closed

[2018-01-09 10:21] MarsBighead opened #988 "vcsim: How to mock thousands of vms?"
I find that the parameter `-vm` default limitation is 124, and the total vm number is 248. It confused me that the total vm number can't raise associated with parameter `-pool`, `-host`, `-dc`, and a big `-pool` number will call an lower `-vm` limitation.

How can I mock thousands of vms like a real datacenter?

Such as:
[code]

[2018-01-09 12:28] Akasurde opened #989 "vcsim: hostsystem advance configuration"
vcsim does not simulate all advance configuration parameter and fails to update option.

Python reproducer

[code]

Stack trace

[code]

vcsim returns

[code]

[2018-01-09 16:53] dougm commented on #988
Try increasing your open files limit (ulimit) for now.  There is a log file open for each VM, I think we can change that so the log file is closed.

[code]
[code]
[code]

[2018-01-09 19:50] LK4D4 opened #990 "Data races in simulation"
We found some data races in simulation package:
[code]
and
[code]
I see there are some other potentially racy code in simulation, but not sure how to fix it easily apart from serializing all calls to `simulator.Service`.

[2018-01-10 00:31] MarsBighead commented on #988
Thank you! It is because my Mac OSX only support the max 256 open files.

[code]

[2018-01-10 05:28] #986 closed

[2018-01-10 14:02] sorenh opened #992 "Finding VM's based on resource group"
I've been struggling for days to find a way to find the equivalent of a list of VM's in the vSphere web client. I'm hoping you can help.

In the web client, I go to "Hosts and Clusters". I'm new to vSphere, so I don't know what all the different resources are called at the different levels. Please bear with me.

At the top level, I have just a single entry (the icon is the vSphere icon). Under tha

[2018-01-10 17:17] dougm commented on #992
If it is a nested `ResourcePool`, you're looking for the `vm` field, which is an array of `ManagedObjectReference`.  Two ways to get the field and convert to inventory path:

[code]

But if it is the cluster root pool, rather than a nested resource pool, you can just use the cluster itself.  For example:

[code]

Either way, just pipe the list of VMs to `govc vm.power -force -off`

[2018-01-10 17:23] dougm commented on #990
Aware of this and certainly plan to fix.  Haven't landed on a solution yet, don't want too many fine-grained locks or a single global one.  Planning to figure it out when implementing incremental property collector updates (#922).  There will be refactoring required for that, which may avoid touching some of the object fields directly.

[2018-01-10 17:32] dougm commented on #989
I have a git stash with UpdateOptions support wip, should be able to finish that up soon.

[2018-01-10 23:54] johnjelinek opened #993 "datastore.mv won't rename directory"
[code]
[code]
... `base_2` does not already exist.

[2018-01-11 00:49] johnjelinek commented on #993
I think maybe since this is an NFS datastore, it's maybe not showing the latest state. Is this common? Does it need to be re-mounted?

[2018-01-11 02:13] dougm commented on #993
Don't think I've seen this issue before.  Did base_2 used to exist?  If so, how much time between it being deleted and trying to do the rename?  Are you able to rename other directories, such as below?

[code]

[2018-01-11 02:55] johnjelinek commented on #993
this is getting weird:
[code]
yes, I think `base_2` used to exist. There was about 15 minutes between it was deleted vs trying to rename. I can rename other directories.

[2018-01-11 08:56] svnsatya opened #995 "How to add a license to cluster"
I want to update license to cluster . for ex vsan license update to vsan cluster
I saw  cli documention, it talks 'license.add' about only esx host but not for cluster ?

[2018-01-11 18:02] dougm commented on #995
Have you tried license.assign?  Example: https://github.com/vmware/govmomi/blob/master/scripts/vcsa/assign-licenses.sh#L24

[2018-01-12 05:36] svnsatya commented on #995
it assign license.assign works for esxhost only but NOT cluster.
-host /$DCname/host/$cluster/$esxip

for vsan based cluster we need to update cluster license. which we don't have option todo same.

[2018-01-12 05:40] svnsatya commented on #995
we should option say   'govc license.assign  -cluster /$DCname/host/$cluster $key" current expects host parameter for  "govc license.assign "

[2018-01-12 05:57] dougm commented on #995
Ah, I see what you mean.  I haven't tested yet, but the below change should work

[code]

[2018-01-12 22:26] #989 closed

[2018-01-14 21:41] satyababu opened #998 "Finding VM using Inventory Path"
Hi,

I am trying to search VirtualMachine using the given vm inventory path name using SearchIndex
	searchIndex := object.NewSearchIndex(client.Client)
	searchvm, err := searchIndex.FindByInventoryPath(ctx, "/foldername/datacentername/Test-VM")

I did not know how to find the inventory path for a VM but I followed the same way I used in java vim25.jar
In Java, Inventory Path for a vm follows: fold

[2018-01-15 06:51] dougm commented on #998
Try including the `vm` folder: "/foldername/datacentername/vm/Test-VM"

You can also see inventory paths to your VMs using: `govc find /foldername/datacentername -type m`

[2018-01-15 18:56] philzyk opened #999 "How to clone disk in govc, like vmkfstool -i ?"
Hello!
govc is a great tool, much better, then abandoned rvc, but...
I need to clone vmdk-disk (both vmk and flat.vmdk files).
Vmkfstools do it very well, but i can't call it from govc.
So, i've tried to copy files and change link to -flat.vmdk-file, but it's a crazy coding
# Extent description
RW 67108864 VMFS "tmpl_en_windows_10_multi-edition_vl_version_1709_updated_sept_2017_x64-flat.vmdk"
Any

[2018-01-15 21:24] satyababu opened #1000 "Retrieve HostSystem including VMs"
Hi,

We have examples to understand how we can get datastores, hosts, vms information. Thanks for providing those examples.

I have one quick question in "govmomi/examples/hosts/main.go"
mo.HostSystem type contains Vm ([]types.ManagedObjectReference)

var hss []mo.HostSystem
err = v.Retrieve(ctx, []string{"HostSystem"}, []string{"summary"}, &hss)
        for _, hs := range hss {
		fmt.Fprintf(tw,

[2018-01-16 08:30] philzyk opened #1001 "Odd behaviour of object.collect"
Hello!
I've tried to navigate over MOB via object.collect and find out that:
govc object.collect  VirtualMachine:vm-95824 config.hardware.device[4000].key works fine
But  govc object.collect  VirtualMachine:vm-95824 config.hardware.device[4000].macAddress gives
- /usr/bin/govc_linux_amd64: ServerFaultCode: InvalidProperty
Difference is in data type. I can't read only string properties.
So i can't

[2018-01-16 17:56] dougm commented on #1001
I think that's because the property collector on the ESX/VC side only supports specific fields for the base type, a VirtualDevice in this case. You can use jq like so:

[code]

[2018-01-16 18:23] philzyk commented on #1001
Thank you. Sorry, is it a bug in Property collector of vCenter 6.0 u3, which i'am using, or it's a same in vCenter 6.5?. I've tried to escape not needed JSON operations and transformations via jq.
And same problem for other object. commands?

[2018-01-16 18:50] dougm commented on #1001
I don't think it's a bug, but a limitation.  I see the same behavior with 6.5.  We could probably do something to workaround this limitation on the client side within the object.collect command.

[2018-01-16 18:55] philzyk commented on #1001
Very strange limitation. Probably it's a kind of data protection from Vmware side ;-)
Oh it would be great! Less JSON, less operations and errors.
Anyway, you did a GREAT job with this product!
Like it's more then rvc.
Probably someday you will port namespace and TAB-browsing from it?

[2018-01-16 21:57] josdotso commented on #944
This worked for a template which was showing "(orphaned)" on its name:

[code]

[2018-01-17 00:23] dougm commented on #1001
ok, let's leave this open and we can look into working around this limitation.

Thanks, glad you are finding govc useful!  Not sure what you mean by "port namespace" ?
If you are looking for tab-completion, there is [bash completion](https://github.com/vmware/govmomi/blob/master/scripts/govc_bash_completion)
Personally, I use the [Emacs](https://github.com/vmware/govmomi/tree/master/govc/emacs) sh

[2018-01-17 00:28] dougm commented on #1000
The code above only collects the `summary` property, you have to add `vm`:
[code]

[2018-01-17 01:11] #999 closed

[2018-01-17 01:11] dougm commented on #999
@philzyk can you try the new `datastore.disk.cp` command?

[2018-01-17 03:37] #995 closed

[2018-01-17 13:12] philzyk commented on #999
Thank You!
GREAT JOB!
But i'am using govc as binary.
Shell i need to build it from sources?

[2018-01-17 14:11] philzyk commented on #1001
Probably better to say console where you can use not only ls, but cd and marks as quick path values. So you can navigate to any depth of properties.

/192.168.1.30/DC-LV-01/computers/HA-DRS-01/resourcePool/pools/ZONE_TEST/pools/INFRASTRUCTURE/vms/rds-01/datastores
/192.168.1.30/DC-LV-01/computers/HA-DRS-01/resourcePool/pools/ZONE_TEST/pools/INFRASTRUCTURE/vms/rds-01/devices
/192.168.1.30/DC-LV-01/

[2018-01-17 15:29] satyababu commented on #1000
Sounds good. Thanks Doug

[2018-01-17 15:29] #1000 closed

[2018-01-17 19:16] dougm commented on #1001
@philzyk gotcha, feel free to open a separate feature request for the cd/mark navigation.

[2018-01-18 02:37] #988 closed

[2018-01-18 10:35] MarsBighead opened #1006 "govc: Why error from task.Wait(ctx) not return in power.go?"
I build a program to operate vm power on/off with thousands of vms mocked by `vcsim`, but it throw out error with  `
2018/01/18 18:14:54 task error *types.InvalidPowerState` .

I want to know why the similar logic in `govc/vm/power.go` skip the error, and is the error have effect to status collection logic.

Here is my code part:

[code]
Logic from `govc/vm/power.go` part
https://github.com/vmware

[2018-01-19 06:10] #1006 closed

[2018-01-21 17:13] naphatkrit opened #1008 "XML bug - "0" omitted from an array of int32"
Simplest repro:

[code]

This will result in the error:
[code]
Notice that the encoded array is [5, 1, 2] instead of [5, 0, 1, 2] because 0 got omitted.

[2018-01-21 17:28] naphatkrit commented on #1008
this seems to be because `omitempty` on an array is being wrongly inherited by its members. so omitempty on `[]int32` should only omit the entry if the array is empty. but it's also passing `omitempty` to each of its children, and 0 is an empty value

[2018-01-21 17:48] naphatkrit commented on #1008
this seems to be the simplest fix:
[code]

[2018-01-22 21:26] selvik opened #1009 "Possible to use regex with govc command line"
Hi All,

This is a request for help. Is it possible to use a regex in the command line such as this:

`govc vm.destroy -vm.dns=master.*`

Thanks.

[2018-01-22 21:57] dougm commented on #1008
vim25/xml is a fork of Go's encoding/xml package.. ideally we'll remove vim25/xml someday and just use Go's standard package.  The encoding/xml package behaves the same way in this respect, so I'd prefer not to diverge in this case.

Which API(s) need this change?

[2018-01-22 22:00] naphatkrit commented on #1008
Anywhere we have an array and specify omitempty.

https://raw.githubusercontent.com/vmware/govmomi/master/vim25/types/types.go, example is AffinitySet

[2018-01-22 22:09] dougm commented on #1008
ok, but this is the expected behavior: https://golang.org/pkg/encoding/xml/#Marshal

There is nothing that applies to array elements.  Why not just remove any 0's from your array before making the method call?

[2018-01-22 22:21] naphatkrit commented on #1008
then the struct spec is wrong. 0 is a valid value in this array (you can have CPU # 0)

[2018-01-22 22:34] dougm commented on #1008
I misunderstood, thought you wanted to omit 0's, but it is the opposite.  I'm surprised at Go's behavior in this case.

Since the fields of type `VirtualMachineAffinityInfo` already have the `omitempty` tag, I think we can just change the generator so `AffinitySet` does **not** have the `omitempty` tag.  What do you think?

[code]

[2018-01-22 22:35] naphatkrit commented on #1008
yep! that would work. might also want to be careful wherever else we have a similar array

[2018-01-22 23:07] dougm commented on #1008
I was tempted to remove `omitempty` for all slice fields, but leaving as just `AffinitySet` for now in PR #1010

[2018-01-23 00:07] #1008 closed

[2018-01-23 00:34] dougm commented on #1009
The `vm.dns` flag uses the SearchIndex, which does not support wildcard matching:
http://pubs.vmware.com/vsphere-6-5/index.jsp#com.vmware.wssdk.apiref.doc/vim.SearchIndex.html

The `vm` flag and commands that take VM arguments use the `Finder` which does support matching:
https://github.com/vmware/govmomi/tree/master/govc#usage
https://godoc.org/github.com/vmware/govmomi/find

[2018-01-23 18:14] #990 closed

[2018-01-23 22:05] johnjelinek commented on #993
I think this issue is exposed by NFS mounts. I'm avoiding that messed up datastore for now, I'll update if I see this again.

[2018-01-23 22:05] #993 closed

[2018-01-23 22:08] johnjelinek opened #1012 "GOVC hangs on vm.unregister"
[code]

This command doesn't show any debug output and it just hangs. I've let it go for 20 minutes and still nothing. How can I troubleshoot?

[2018-01-23 22:19] johnjelinek commented on #1012
ok -- so, got more info -- it looks like while I'm uploading my `base` template to one vsphere host, it's preventing me from unregistering templates of the same name on other vsphere hosts by queuing up commands where the template name is the same and all hosts are managed by the same vcenter.

[2018-01-23 22:19] #1012 closed

[2018-01-26 01:39] anfernee opened #1015 "Test vcsim with other vmomi bindings like pyvmomi"
People should be able to use other bindings like pyvmomi to talk to vcsim, not just govc. How about adding test written in pyvmomi?

[2018-01-26 04:17] dougm commented on #1015
Most of the issues with pyvmomi against vcsim are because the wsdl required fields are enforced, whereas Go will silently ignore empty fields regardless of there being an `omitempty` tag or not.  It would be helpful if we had a way to enforce the required fields bet set in Go.

The other pyvmomi issues have just been objects/methods that hadn't been implemented yet.  There is a basic rbvmomi test

[2018-01-26 09:22] MarsBighead opened #1017 "vcsim: Error with WaitForUpdates continuously fetching data"
I want to get res.Version and other data from `vcsim` with WaitForUpdates (`func (p *Collector) WaitForUpdates(ctx context.Context, v string) (*types.UpdateSet, error) `)  like operating a real vCenter. But it fails and throws out error `"incremental updates not supported yet"`.

I want to know that if the `vcsim`  can support the feature now?

[code]

[2018-01-26 14:30] dougm commented on #1017
Dup of #922

[2018-01-26 14:30] #1017 closed

[2018-01-26 18:50] #981 closed

[2018-01-28 19:30] johnjelinek opened #1020 "`no such VM` finding by UUID"
[code]

[code]

[2018-01-28 19:54] johnjelinek commented on #1020
ok, so I tried this with another datacenter and it was able to find by UUID. The difference between the datacenter that works and the one that doesn't is a whitespace in the Datacenter name (example `DC ONE`).

[2018-01-28 21:36] johnjelinek commented on #1020
well, guess it's not related to whitespace in the datacenter name:
[code]
[code]

[2018-01-28 22:21] johnjelinek commented on #1020
seems that this version of vCenter may be older than our others -- is there a compatibility issue with this functionality on older vCenters?

[2018-01-29 06:56] den-is commented on #1020
I'm experiencing same issue
running vSphere 5.5.0.6516310 and my dc has no whitespaces in its name:
[code]
[code]

[2018-01-29 13:51] MarsBighead opened #1021 "vcsim: duplicated mo.HostSystem.Summary.Host.Value provided"
When I start `vcsim` with parameter  `-standalone-host` , and I see the same value `ha-host` while they have different names and inventory paths.

[code]

Result:
[code]

[2018-01-29 14:03] MarsBighead opened #1022 "vcsim: no instanceUuid for vCenter and Vm simulator"
When I try to fetch `InstanceUuid` value from `vcsim` like operating a real vCenter. It provides empty string.
[code]

And it provides the same empty value with vm.Summary object:

[code]

[2018-01-29 15:54] johnjelinek commented on #1020
Note: I'm on `vCenter Server 5.5.0 | Build 1476327`

[2018-01-29 17:07] dougm commented on #1022
`VirtualMachine.InstanceUuid` is set now via PR #1016

[2018-01-29 17:07] #1022 closed

[2018-01-29 17:37] dougm commented on #1020
Sounds like a dup of #848 , which is specific to 5.5 and template VMs.  It includes a workaround:
[code]

[2018-01-29 17:52] johnjelinek commented on #1020
so, while this command workaround does work, the downstream `terraform-providers/terraform-provider-vsphere` client is using the part of `govmomi` that has this issue via the SearchIndex. Is there a recommended workaround for them to use?

[2018-01-29 18:07] dougm commented on #1020
It is possible to use ContainerView and RetrieveWithFilter method directly, for [example](https://github.com/vmware/govmomi/blob/master/examples/virtualmachines/main.go):

[code]

[2018-01-29 18:08] johnjelinek commented on #1020
That's a good idea! I'll pass it along so we can find out.

[2018-01-29 18:26] johnjelinek commented on #1020
So, to close out this issue -- should there be some documentation that when you're on 5.5, you should use the workaround to find by UUID in `govc` or should there be a fix to make the original command work just like the workaround when it's on 5.5?

[2018-01-29 23:11] #1021 closed

[2018-01-29 23:19] dougm commented on #1020
I don't think we should change the `vm.uuid` flag to workaround the 5.5 limitation, since the `govc find` workaround works with all versions.  We can add some doc before the next govc release at least.

[2018-01-30 04:05] MarsBighead commented on #1022
I test this case with methods from struct `*Find` and `*view.ContainerView` on the newest `vcsim` code, and find instanceUuid keep empty in the client end.
Git log for my log code:
[code]

And then I try it with modified `govc info.vm`, and observe that it still keep empty.
Modified `govc/vm/info.go` part(line 311-312):
[code]
Result:
[code]

[2018-01-30 04:36] dougm commented on #1022
Working as expected here:
[code]

[2018-01-30 07:57] MarsBighead commented on #1022
In the command `govc object.collect` case, it really works. But what we focus on are `func (m Manager) CreateContainerView(ctx context.Context, container types.ManagedObjectReference, managedObjectTypes []string, recursive bool)` and `func (p *Collector) WaitForUpdates(ctx context.Context, v string)` methods, neither can capture `VirtualMachine.InstanceUuid`.

I think we need an ideal solution to

[2018-01-30 17:21] dougm commented on #1022
@MarsBighead I see, I was testing with `config.instanceUuid`, but you are using `summary.config.instanceUuid` - fixed in #1024

[2018-01-31 07:13] MarsBighead commented on #1022
It's ok now!
C
[code]

I remember that the real vCenter provides different values between `instanceUuid` and `Uuid` ( reference link: [https://code.vmware.com/apis/42/vsphere#/doc/vim.vm.ConfigInfo.html](https://code.vmware.com/apis/42/vsphere#/doc/vim.vm.ConfigInfo.html)).

I think it is better to make them own different values in `vcsim`.

[2018-01-31 15:29] dougm commented on #1022
They are different:
[code]

[2018-01-31 18:41] johnjelinek opened #1025 "govc import Post EOF error"
I've been seeing this lately with `govc import.ovf`:

And this happens at different stages of the upload. Any ideas what the issue is here, and whether the import can be resumed rather than restarted?

[2018-02-02 00:07] hickeng opened #1026 "Add support for datacenter.PowerOnMultiVM"
The 6.0 API doc notes that `PowerOnVM_Task` is deprecated against VC and `datacenter.PowerOnMultiVM_Task` should be used instead.

http://pubs.vmware.com/vsphere-6-0/topic/com.vmware.wssdk.apiref.doc/vim.Datacenter.html#powerOnVm

This is one of those little gems of knowledge that it's easy to miss or be unaware of. I would prefer if we can find a way to encapsulate calling the appropriate power o

[2018-02-02 20:10] johnjelinek commented on #1020
@dougm: I'm not getting the output I expect from the workaround now:
[code]
why is it returning two? The first one is the one I want. If I get details on the second one:
[code]
Any ways to troubleshoot this?

[2018-02-02 20:12] johnjelinek commented on #1020
`govc find / -type m -config.instanceUuid 420ae87a-bce6-2e1b-f6f6-fc813272ba24` finds the one I'm looking for though.

[2018-02-02 22:15] rmmh opened #1028 "Windows simulator build is broken."
There's currently a compile error since _unix.go isn't a build flag that gets skipped on Windows:

[code]

[2018-02-04 03:32] bradfitz commented on #960
Actually, I just hit this bug again, even with non-VMware OUIs.

It appears that `govc vm.clone` just always ignores `-net.address`. Maybe the network modification is done at the wrong time? That is, maybe it's set too early and it gets overridden by other API calls?

My workaround is I have to call `vm.clone -power=off` and then change the MAC after:

[code]

(The first `-net.address` up there do

[2018-02-05 06:04] anukul-mohil commented on #980
You can actually have two different rules with same name and same set of vms. Only distinguishing factor is the ruleUuid and key associated with the rule which forces us to make redundant calls to the vcenter which could have been easily avoided if task.result would have returned a rule.Uuid.

[2018-02-06 00:39] vancluever commented on #1020
Hey @johnjelinek, can you tell me exactly how the two VMs were built?

I'm trying to track down an issue with Packer that may be able to explain a bit of this. Currently, with what I'm trying, using the `vmware-iso` builder in remote configuration along with the `vsphere-template` post-processor produces a template that lacks a UUID in vSphere inventory.

[2018-02-06 01:59] MarsBighead commented on #1022
It's great, thank you!

[2018-02-06 03:05] johnjelinek commented on #1020
So, I'm using the packer templates in the open source bento repo, except
I'm building them with a remote esx host and then shipping the templates
with `govc import.ovf`. Need any more details?

On Feb 5, 2018 6:39 PM, "Chris Marchesi" <notifications@github.com> wrote:

[2018-02-06 03:06] johnjelinek commented on #1020
The second VM was built manually from within ESX, mounting an ISO an
building from scratch on the host it ultimately lives.

On Feb 5, 2018 9:05 PM, "John Jelinek IV" <john@johnjelinek.com> wrote:

[2018-02-06 03:48] vancluever commented on #1020
@johnjelinek basically I'm trying to reproduce a circumstance where the UUID would be duplicated, or a situation where the UUID would not necessarily be duplicated but `govc` using the UUID filter would match on both.

I'm kind of working off suspicions from this query:

[code]
And kind of wondering how `/DC0/vm/Discovered virtual machine/avm` and `/DC0/vm/packer-templates/SCHas` were ultimately p

[2018-02-06 04:17] johnjelinek commented on #1020
Well, like I mentioned, SCHas is a template generated from packer and
shipped to the ESX host, and avm is not a template and was manually created
on the esx host. Each have different UUIDs as seen in the detailed view. If
you make the filter look for instanceUuid instead of config.uuid, it finds
exactly the right item.

On Feb 5, 2018 9:48 PM, "Chris Marchesi" <notifications@github.com> wrote:

[2018-02-06 16:32] vancluever commented on #1020
@johnjelinek can you confirm as mentioned [here](https://github.com/terraform-providers/terraform-provider-vsphere/issues/382#issuecomment-363476094) that the UUIDs on both of these are indeed the same?

Thanks!

[2018-02-06 17:03] johnjelinek commented on #1020
the UUIDs are definitely not the same.

[2018-02-06 17:14] vancluever commented on #1020
@dougm @johnjelinek confirmed in terraform-providers/terraform-provider-vsphere/#382 that the VM that's always showing up is an orphaned VM, possibly an artifact from the remote `vmware-iso` Packer builder.

Do you know how this affects searching at all and inventory? It seems to be coming up as a result for a filter using 3 different UUIDs.

This is obviously not optimal and AFAIK there is a TODO

[2018-02-07 03:01] dougm commented on #1028
I thought the `_unix.go` suffix was already ignored on windows, but now see it is just a convention.  We should also have CI build vcsim with `GOOS=windows` so we can avoid this breakage in the future.

[2018-02-07 03:10] dougm commented on #1025
`govc logs` and or `govc tasks` may shed some light.  How much of the vmdk was uploaded?  I don't know of a way to resume the upload.

[2018-02-07 15:30] alexellis opened #1030 "Clone VM example"
Hi @dougm I've just found this library - it looks really useful as an alternative to the Python version 👍

@kars7e showed me an example to clone a VM from a template using the Python version. Do you have an example like this for Go or could you put one together?

I'd like to use it to make a function for [OpenFaaS](https://github.com/openfaas) or [Dispatch](https://github.com/vmware/dispatch/) to

[2018-02-07 16:54] dougm commented on #1030
@alexellis yes, there is a simple example here: https://gist.github.com/dougm/c8c14dc029ec831d072e5def093ca92c/b66341e171576e3a359445303403068821979529

The govc command includes more options, such as storage cluster placement, linked clones, etc:
https://github.com/vmware/govmomi/blob/master/govc/vm/clone.go

[2018-02-07 21:06] alexellis commented on #1030
That looks great - thanks for the example @dougm

Do you also have the ability to do auth here?

[2018-02-07 21:16] dougm commented on #1030
@alexellis yes, `examples.NewClient` calls `govmomi.NewClient` underneath:

https://github.com/vmware/govmomi/blob/81743157fb5ccf548d6bd5088c25ee6156a359ee/examples/examples.go#L114-L115

You can call `govmomi.NewClient` directly and it'll call `Login()` if the URL includes username+password:

https://github.com/vmware/govmomi/blob/81743157fb5ccf548d6bd5088c25ee6156a359ee/client.go#L91-L93

If the

[2018-02-08 16:08] dkirrane commented on #834
@cseeger-epages have you manged to get this to work. How do you pass a kickstart file? I'm trying to install CentOS-7-x86_64-Minimal-1708.iso

[2018-02-08 16:22] cseeger-epages commented on #834
Here is a snippet of our reinstall_vm jenkins job
[code]
dont forget to change the `device.boot -order` back to normal after installation has finished or just
[code]
i force the eject 20 seconds after the installation has started since i only use netboot images and after initial stuff everything comes from the internet :)

[2018-02-08 23:36] dougm commented on #1026
PR: vmware/govmomi#1031

[2018-02-09 00:00] #1028 closed

[2018-02-09 15:47] dougm commented on #1026
Closed via #1031

[2018-02-09 15:47] #1026 closed

[2018-02-10 02:12] #960 closed

[2018-02-10 20:02] #1009 closed

[2018-02-10 20:03] #992 closed

[2018-02-15 16:36] perfecto25 opened #1035 "vm.create segmentation violation"
Hello, having some issues creating VMs in our vCenter (6.5.0)

govc version
0.16.0

running a basic vm create, all my GOVC params are sourced,

[code]

whats weird is that I used to be able to create VMs before, I tried this both w govc 0.12 and 0.16 and same result. Wondering ifs something to do with our vCenter version, we recently upgraded from 5.5 to 6.5, but it doesnt look like its even commu

[2018-02-15 18:11] perfecto25 commented on #1035
result,

wondering if this has to do with vCenter permissions for the user that Im logging in as, I had to add permissions to Network object for this user. I can login to vCenter as this user and browse the Network tree, so it should be ok

[code]

[2018-02-15 18:27] perfecto25 commented on #1035
Found the issue, one of the vCenter network objects did not have proper permissions, I re-applied the Role for the user I'm using to create the vm, and propagaded down to all children, re-ran vm.create again and its working.

any way to have govc do an exception checks for permission-type errors? The nil error it spits out is not helpful.  Thanks.

[2018-02-16 02:52] dougm commented on #1035
Yes, at the very least we can avoid the panic.

[2018-02-16 13:59] tiugu opened #1037 "govc device.info -json -vm NIC Type not shown"
Hi,

NIC Type (VirtualE1000) is visible if used without -json flag.
example:
$ govc device.info  -vm  /Datacenter1/vm/vm1
Name:               ethernet-0
  Type:             VirtualE1000
  Label:            Network adapter 1
  Summary:          VM Network
  Key:              4000
  Controller:       pci-100
  Unit number:      7
  Connected:        true
  Start connected:  true
  Guest control:

[2018-02-16 16:54] dougm commented on #999
PR #1036 removes `datastore.disk.cp` and fixes `datastore.cp` to properly clone a .vmdk using VirtualDiskManager.

[2018-02-16 19:27] #1037 closed

[2018-02-17 06:49] Akasurde commented on #1015
@dougm @anfernee Ansible uses Pyvmomi and vcsim in integration tests, so indirectly testing of vcsim is done. I agree that we should have Pyvmomi tests as well.

[2018-02-17 06:52] Akasurde opened #1039 "vcsim: Failed to destroy Host system"
Python traceback:

[code]

Python reproducer

[code]

[2018-02-17 07:01] Akasurde commented on #866
@anfernee Ansible has a module [vmware_cfg_backup](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_cfg_backup.py) which internally uses this API. In integration test, we use vcsim so this is needed.

Let me know if you need anything else.

[2018-02-17 07:05] Akasurde opened #1040 "vcsim: Failed to reboot/shutdown host system"
Python traceback:

[code]

Python reproducer

[code]

[2018-02-21 03:39] bradfitz opened #1042 "govc ls -json error with Go 1.10: "json: unsupported type: func(context.Context, *vim25.Client) error""
`govc ls -json` doesn't seem to work with Go 1.10:

[code]

[2018-02-21 04:05] #1042 closed

[2018-02-22 11:15] brunograz opened #1045 "govc: POST request - Service Unavailable"
Hi,

I'm just getting started with govc and at the moment I'm facing an issue which is blocking me to execute any command with it. Doesn't matter which command I use, govc always returns `Service Unavailable`.
I tried using the debug mode but that didn't give me any indicators of what could be the issue.

We are using VCenter v6.0 and below is the content the debug files - I enabled _debug, dump_

[2018-02-22 17:55] dougm commented on #1045
Any proxy involved?  Can you post the output of:
[code]

[2018-02-23 05:26] MarsBighead opened #1046 "vcsim: EventManager:EventManager does not implement: QueryEvents"
It throw out error message when I try the method `func (m Manager) QueryEvents(ctx context.Context, filter types.EventFilterSpec) ([]types.BaseEvent, error) ` to operate `vcsim`.

Code:
[code]

Error msg:
[code]

 At present, I can't find `QueryEvents` relative method in simulator.

[2018-02-23 06:48] anukul-mohil commented on #740
@sudhirnir @dougm Did you have any success trying this?
I want to do something similar to this, but the ``ApplyStorageDrsRecommendation_Task`` requires recommended datastores using ``storageResourceManager.RecommendDatastores`` method which only operates on these [types](https://www.vmware.com/support/developer/converter-sdk/conv60_apireference/vim.storageDrs.StoragePlacementSpec.PlacementType.htm

[2018-02-23 09:59] brunograz commented on #1045
Yep, there is:

[2018-02-23 10:49] brunograz commented on #1045
@dougm thanks for the pointer! after checking our proxy settings and env I was able to connect to vcenter using govc.

[2018-02-23 10:49] #1045 closed

[2018-02-26 11:40] sudhirnir commented on #740
@anukul-mohil My use case was adding(create+attach) disks to existing VM. I used RecommendDatastores method which gave me recommendation. But ApplyStorageDrsRecommendation_Task is failing with error. "The request refers to an unexpected or unknown type.". Any clue @dougm @anukul-mohil ?

[2018-02-27 00:57] alexbozhenko opened #1049 "VUM operations using api?"
Does govmomi support any VUM operations?
I was not able to find any VUM methods. Is it because VMWare doesn't expose those APIs?

[2018-02-27 01:48] alexbozhenko opened #1050 "Documentation for govc find is missing details on where to get possible KEY VAL pairs"
Hello.

I am trying to list all hosts that are in maintenance mode.
I guess I need something like:
`govc find  . -type h -SOME.KEY False
`
But it is not clear from [find docs](https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#find) where I can get that key from.

When I am executing
`govc host.info -json=true host.company.com  2>&1 | python -m json.tool | less`
I do not see numCpuCores t

[2018-02-27 02:06] alexbozhenko commented on #1050
UPD: oops, looks like that was a case issue.

[code]

So my question now: why it is required to lowercase first letter in each key level to make it work?
[code]
or
[code]
$ govc version
govc 0.16.0
[code]

[2018-02-27 03:25] julykobe opened #1051 "Just curious on why govmomi doesn't encapsulate RPC call on MO."
Hi,  I have used pyvmomi before, the rpc encapsulation on MO is very convenient. But I found that govmomi doesn't do that, I'm curious why?

[2018-02-28 01:08] dougm commented on #1051
Are you referring to method calls or property collection?  Maybe some examples that compare the two and how you'd expect the Go version to look?

[2018-02-28 01:15] dougm commented on #1050
You can use `govc object.collect` to view the valid property paths for an object.  We should include that in the find docs.  The property collector on the VC/ESX side is case sensitive, not much we can do about that.
[code]
Also see the property section for managed objects: http://pubs.vmware.com/vsphere-6-5/index.jsp#com.vmware.wssdk.apiref.doc/vim.HostSystem.html

[2018-02-28 01:20] dougm commented on #1049
Any doc pointers? I don't know if VUM is part of the vmodl or something separate.

[2018-02-28 01:34] dougm commented on #1040
@Akasurde do you want to implement this one?  Have a look at ExitMaintenanceModeTask: https://github.com/vmware/govmomi/blob/76228aba4d8e81ef6fb344f08fbc7f51e0147dc2/simulator/host_system.go#L189

Copy and replace "ExitMaintenanceMode" with "Reboot".  Instead of setting `InMaintenanceMode`, you'd probably want check the value of `InMaintenanceMode`.  If true or the request.Force flag is true, retu

[2018-02-28 03:27] #979 closed

[2018-02-28 03:27] #1039 closed

[2018-02-28 16:53] julykobe commented on #1051
Say I have a local vmMO, which maps to real MO exists in VC or ESXi Host, each method or property on local vmMO(vmMO.config or vmMO.Destroy()) will cause a RPC call to remote real MO, and will invoke method or retrieve property then return to local vmMO.

ps: Seems you have some encapsulation in govmomi/object/* , but I think it's more efficient to do RPC calls than encapsulate all methods on MOs

[2018-02-28 18:53] alexbozhenko commented on #1049
Well, all that I was able to find is:
https://www.vmware.com/support/developer/ps-libs/vumps/
https://www.vmware.com/support/pubs/vum_pubs.html

[2018-03-01 15:57] yrjo opened #1053 "govc: more params for dvs.portgroup.change"
Hi,
is there any plan to extend dvs.portgroup.change call for more attributes in any future?

I mean something related to
config.defaultPortConfig
like eg.
VmwareUplinkPortTeamingPolicy
and so?

cheers!

[2018-03-01 23:45] alexbozhenko commented on #1050
Ok, thank for the explanation. I have two questions remaining:
1. So see all possible values using object.collect I need to iterate myself? May be it should show all nested levels automatically?
2. Why does host.find returns json where all path have uppercase letter in the beginning of words, but 'property collector' accepts only lowercase first letters?
So for now I generate all possible paths us

[2018-03-02 04:28] dougm commented on #1050
We could add a way to list all possible property paths.  The current interaction is similar to the [MOB](http://pubs.vmware.com/vsphere-51/index.jsp?topic=%2Fcom.vmware.wssdk.pg.doc%2FPG_Appx_Using_MOB.20.2.html)

The *.info commands output the Go version of managed objects.  The field names in Go start with upper case so they are [exported](https://golang.org/ref/spec#Exported_identifiers).
But t

[2018-03-02 04:30] dougm commented on #1053
Sure, can you provide more detail / examples on what you want to change?

[2018-03-02 17:27] dougm opened #1054 "vSAN management API support"
The vSAN management API has its own URL endpoint and vmodl extension.  To access via govmomi, we'll need to generate the managed objects, types and methods similar to the [pbm package](https://github.com/vmware/govmomi/tree/master/pbm) that was added in PR #711

The structure should be similar to that of the pbm package:
[code]
Unlike the PBM vmodl, the vSAN management vmodl includes the entire vi

[2018-03-02 21:27] tenczar opened #1055 "Panic sorting events"
I received this error while processing vcenter events.

[code]
I received this error while running 0.17.0. Using 0.17.0 resolved a separate error that I was getting using 0.16.0. Here is a small snapshot of that event.
[code]
Again, this second error seems to have been resolved by using 0.17.0

The particular vcenter environment may be unique because it is using an external PSC and VSAN.

[2018-03-02 21:58] dougm commented on #1055
@tenczar what revision of govmomi do you have vendored?  I spoke with @kars7e about this yesterday:

The likely issue that was recently fixed: https://github.com/vmware/govmomi/blob/master/vim25/types/helpers.go#L92-L94

The other work around is to set the vim namespace to 6.0, by setting soap.Client.Version like so: https://github.com/vmware/vic/blob/master/pkg/vsphere/session/session.go#L217

Yo

[2018-03-02 22:05] tenczar commented on #1055
Originally, I was using 0.16.0 and was getting a different error. I updated to 0.17.0 and found that I hit the error in the first block above.

[2018-03-02 22:50] dougm commented on #1055
ok, have you tried either of the workarounds?

I can also take a look if I can access your VC environment to see why this would still happen with 0.17

[2018-03-02 23:35] dougm commented on #1055
To try the version workaround:
[code]

[2018-03-03 02:11] #1046 closed

[2018-03-05 16:06] dkirrane commented on #834
@cseeger-epages just getting back to this.
I can create the vm with `govc vm.create -iso=ISOs/CentOS-7-x86_64-Minimal-1708.iso` but just wondering how to pass a kickstart

Can I upload both the `CentOS-7-x86_64-Minimal-1708.iso` and `kg.cfg` to a datastore and create a new vm from those? How do you pass the boot option `inst.ks=path/to/kg.cfg`.

[2018-03-06 09:13] angystardust commented on #834
@dkirrane if you have your ks.cfg in a virtual floppy attached to the vm, you can try to add this to the boot parameters `inst.ks=hd:fd0:/ks.cfg`

[2018-03-06 12:07] cseeger-epages commented on #834
@dkirrane we use [ipxe](http://ipxe.org) to build a kickstart iso file this pulls the cfg from a webserver and starts the install process.

[2018-03-09 17:21] mhagen-vmware opened #1059 "govc dvs.portgroup.info -json does not return results in json format"
Output looks the exact same with or without -json param

[2018-03-09 17:36] mhagen-vmware opened #1060 "Panic in govc dvs.portgroup.info on version 0.16.0 and 0.17.0 but not seen in 0.15.0"
Command still actually returns expected results but panics at the end:
0.16.0
[code]

0.17.0
[code]

[2018-03-09 19:24] dougm commented on #1060
Don't think this code has changed since it was added (#471) , but I will look into it.

[2018-03-09 19:39] dericcrago opened #1061 "vcsim: empty returnval when all propset pathsets are unset in vCenter"
## Request where *some* propSet pathSets are unset in vCenter (NoIssue) ##

### Request: ###

[code]

### vCenter 6.5 Response: ###

[code]

### vcsim Response: ###

[code]

## Request where *all* propSet pathSets are unset in vCenter (Issue) ##

### Request: ###

[code]

### vCenter 6.5 Response: ###

[code]

### vcsim Response: ###

[code]

[2018-03-09 20:32] dougm commented on #1061
We should behave as close to possible as real VC, so I agree this should be fixed.  I think vcsim currently ignores empty fields:
https://github.com/vmware/govmomi/blob/0c574f49f8b3832b45af4cfece376d792105865c/simulator/property_collector.go#L280-L288

And:
https://github.com/vmware/govmomi/blob/0c574f49f8b3832b45af4cfece376d792105865c/simulator/property_collector.go#L338-L340

[2018-03-12 20:19] #1059 closed

[2018-03-12 20:19] #1060 closed

[2018-03-12 23:53] kars7e opened #1063 "vcsim: unable to connect when using PowerCLI 10 GA"
vcsim version: https://github.com/vmware/govmomi/commit/8872366d5b156a8cbef4b7291cd6e9026b8129a5
PowerCLI version: 10.0.0.7895300 GA
PowerShell version v6.0.1 GA

Running following sequence:
[code]
Gives:
[code]

Here is the trace from vcsim:
[code]

[2018-03-13 01:57] dougm commented on #1063
@kars7e you mentioned in slack, when starting vcsim on port 443, you get the error:
`connect-viserver : There was no endpoint listening at https://127.0.0.1/lookupservice/sdk that could accept the message.`

I glanced at the powercli source and it looks like 443 is hardcoded in this case, rather than using the `-Port` flag.  I haven't come across the `/lookupservice/sdk` before, vcsim does not hav

[2018-03-13 14:06] jakerobinson commented on #1063
@kamennikolov Is there a way a user can bypass the Lookup Service?

[2018-03-13 16:13] atanasa commented on #1063
I don't think it should be failing to connect if the Lookup Service is not there. If the Lookup Service is missing some functionality would not work (e.g. tags) if you try to use those.

Can you extract a stack trace from the error:
[code]

[2018-03-13 22:58] kars7e commented on #1063
@atanasa

[code]

trace from vcsim:
[code]

I also checked what happens if I listen on default `127.0.0.1:8989` for vcsim:
[code]

[2018-03-14 19:54] dougm commented on #1061
@dericcrago I think we need to keep the `if len(content.PropSet) != 0 || len(content.MissingSet) != 0` check as-is.  For example, if `mo.Ancestors` is given a `ManagedObjectReference` which is not a `ManagedEntity`, the property collector should return any results.  The query is here:
https://github.com/vmware/govmomi/blob/8872366d5b156a8cbef4b7291cd6e9026b8129a5/vim25/mo/ancestors.go#L31-L41

For

[2018-03-15 18:52] jakerobinson commented on #1063
Thanks for jumping in on this @atanasa! I would love to see PowerCLI connect to vCenter Simulator, especially if we can run all of it in a container. This could have some implications on our testing.

@dougm - Is VIC or anyone else using this in any serious integration testing?

[2018-03-15 18:57] jakerobinson commented on #1063
@dougm one reason we might consider implementing Lookup Service into the simulator is connecting multiple vCenters. That's one of the reasons that PowerCLI uses it. You can do:
[code]
and it will authenticate to multiple vCs (or maybe even multiple simulators)

[2018-03-15 19:01] dougm commented on #1063
@jakerobinson yes, VIC, Kubernetes (vSphere Cloud Provider), Ansible (Python) and some others that aren't OSS.

Older versions of PowerCLI did work against vcsim, at least connect, Get-VM and a few other commands.  Any pointers to doc on the Lookup Service API?

[2018-03-15 19:04] lamw commented on #1063
@dougm Check out **Option 3** in this blog post [here|https://www.virtuallyghetto.com/2015/04/vcenter-server-6-0-tidbits-part-3-finding-all-deployed-platform-services-controller.html] which shows you how to connect to Lookup Service API (you'll need the vCloud Automation SDK bindings to access LS)

[2018-03-15 19:11] jakerobinson commented on #1063
@dougm yeah, I'll let @atanasa determine if that's a bug (sounds like we don't want to fail if Lookup Service is not there), but in all recent versions (6.5.1+) I never got it to work (back when vcsim was part of the VIC repo).

[2018-03-15 19:28] dougm commented on #1063
@lamw perfect, thanks!

[2018-03-15 19:48] juliohm1978 opened #1066 "datastore.disk.info crashes with "panic: runtime error: invalid memory address or nil pointer dereference""
Using the latest release: v0.17.0

Curiously, I am able to create disks

[code]

... but unbale to query for disk information.

[code]

[2018-03-16 00:28] dougm commented on #1066
Can you provide the output of: `govc about`

[2018-03-16 00:41] dougm commented on #1063
The lookup service can be avoided if you start in ESX mode: `vcsim -esx`
With that, `Connect-VIServer` and `Get-VM` work at least.

We can add lookup service support to vcsim, but need to do some refactoring to support multiple API endpoints with their own vmodl.  I've been planning to do this to support other endpoints, such as pbm, sts, etc.

[2018-03-16 01:16] juliohm1978 commented on #1066
Sure.

[code]

[2018-03-16 11:29] atanasa commented on #1063
This looks like a bug. We would need ideally instructions on how to reproduce it internally.

[2018-03-16 18:32] dandunckelman opened #1068 "How to extend the vcsim"
# Summary
I'm trying to use the VCSIM to perform unit testing in a python project using pyvmomi and need help with the workflow to extend the VCSIM.

# Notes
- I'm a total go noob, but I want to add the acquireticket method to the vcsim.
- This looks helpful:  [simulator/example_extend_test.go#L51](https://github.com/vmware/govmomi/blob/master/simulator/example_extend_test.go#L51)
- But I just qui

[2018-03-18 20:07] dkirrane commented on #616
+1 I'd also like to customise `-ip`, `netmask`, `gateway`, `dns`, `disk`, `-net`  etc..

[2018-03-18 21:01] #1066 closed

[2018-03-19 16:47] pnhowe commented on #1054
When is vSAN support expected to be added?  I have a monitoring project that could really use this.

[2018-03-19 16:56] dougm commented on #1068
The example is meant for changing existing vcsim behavior, such as fault injection or a workaround for unsupported methods.  The example can be dropped into Go tests, but to use from Python would require a separate binary to be compiled that is similar to vcsim.
However, we are happy to add support for methods that are generally useful for testing.
Can you share more detail on how you'd use `Acqui

[2018-03-19 17:13] dandunckelman commented on #1068
@dougm right, I was planning on building my own vcsim binary; that's the workflow where I'm looking for help.  I have some thoughts on how to do it, which I intend to try soon, but I was hoping to get some direction from an "expert".

Here's my spec file:

[code]

So, as you can see, it's a basic unit test to ensure that we get a ticket from a "ready" VM.

In fact, our code needs more changes beca

[2018-03-19 22:12] dougm commented on #1063
@atanasa to reproduce, use the summary steps provided by @kars7e :
[code]

[2018-03-20 10:42] omarkohl opened #1071 "When creating a new VM with govc it is not possible to specify "EFI" instead of "BIOS" boot"
In the VMWare GUI there is the option "Boot with EFI instead of BIOS".

I was unable to achieve the same thing using **govc**. Neither with `govc vm.create` nor with `govc device.boot` .

Did I miss the option? Otherwise I think it should really be implemented. If you give me some pointer on where/how to do it I will even try myself.

[2018-03-20 11:46] omarkohl commented on #1071
As a workaround I was able to do this as follows:

[code]

[2018-03-20 15:53] atanasa commented on #1063
Thanks, we would look into it. Currently there is no way to specify a custom port for LS. In general there is the issue that vCenter does not report in a clean way where the LS is.

[2018-03-20 16:18] dougm commented on #1071
@omarkohl do you want to open a PR to add this feature?  A new `-firmware` flag would be fine to add.

[2018-03-20 16:39] omarkohl commented on #1071
Yes I'm working on it. I added a `-firmware-efi` boolean flag. Do you think a string parameter with options `efi` or `bios` is better?

[2018-03-20 17:03] dougm commented on #1054
@shuklanirdesh82 is currently looking into this.

[2018-03-20 20:16] pnhowe commented on #1054
here is a basic python snippet of the direction I'm trying to go.

`from pyVim.connect import SmartConnect, Disconnect
from pyVmomi import vim, SoapStubAdapter
import vsanmgmtObjects
import ssl
import sys

VSAN_API_VC_SERVICE_ENDPOINT = '/vsanHealth'
VSAN_API_ESXI_SERVICE_ENDPOINT = '/vsan'
VERSION = 'vim.version.version10'

hostname = 'XXXXXX'
user = 'XXXXXX'
password = 'XXXXXX'

context = ssl._c

[2018-03-21 15:40] #1071 closed

[2018-03-22 18:46] dougm commented on #1068
Sounds like this could be a built-in we add to the simulator/virtual_machine.go methods, what do you think?

We should also make it easier to extend vcsim/main, I have a few change in mind, will try to open a PR soon.

[2018-03-22 19:07] dougm opened #1074 "PSC Lookup Service support"
The vSphere Platform Service Controller provides a "Lookup Service" which can be used anonymously to discover vCenter instances and endpoints for services such as STS, PBM and the vCenter SDK.  The Lookup Service support should include:

* [ ] Lookup Service client API (`govmomi/lookup`)

* [ ] Lookup Service CLI client (`govc service.info` command)

* [ ] Lookup Service API simulator (`govmomi/lo

[2018-03-22 19:09] dougm commented on #1074
Related issues:

* SAML token authentication #1064

* PowerCLI vcsim support #1074

[2018-03-22 19:11] dougm commented on #1074
There is some minor vcsim refactoring required to support namespaces, but not enough to break in to a separate issue.  We'll be able to make use of this to support PBM, vSAN and other service API endpoints in vcsim.

[2018-03-22 19:23] dougm commented on #1055
@tenczar still having this issue?

[2018-03-22 19:30] dougm commented on #1068
Sure, you can follow these steps: https://github.com/vmware/govmomi/blob/master/CONTRIBUTING.md#getting-started

After changing `$GOPATH/src/github.com/vmware/govmomi/simulator/virtual_machine.go`, you can update the `$GOPATH/bin/vcsim` binary with:

```go install -v github.com/vmware/govmomi/vcsim```

[2018-03-22 19:36] dougm commented on #1030
@alexellis anything else needed to close out this issue?

[2018-03-22 19:38] dougm commented on #944
@johnjelinek still having this issue?

[2018-03-22 19:38] dougm commented on #1025
@johnjelinek still having this issue?

[2018-03-22 19:40] dougm commented on #837
When I had started too look at this back then, didn't look like toolbox changes were required.

[2018-03-22 19:40] #837 closed

[2018-03-22 19:42] dougm commented on #832
Closing stale issues, feel free to open with more info.

[2018-03-22 19:42] #832 closed

[2018-03-22 19:44] dougm commented on #781
Closing stale issues, feel free to open with more info.

[2018-03-22 19:44] #781 closed

[2018-03-22 19:44] emlin commented on #837
@dougm hmm... didn't check this issue for quite some time. Could you please help to elaborate a little bit on it?

[2018-03-22 19:59] dougm commented on #837
@emlin app HA is provided in the GuestSDK, not by guest tools.

[2018-03-22 20:07] dougm commented on #807
Also need this for testing in #1064

[2018-03-22 20:08] johnjelinek commented on #944
No, I think I'm good now.

On Mar 22, 2018 2:38 PM, "Doug MacEachern" <notifications@github.com> wrote:

[2018-03-22 20:09] #944 closed

[2018-03-22 20:09] johnjelinek commented on #1025
Ya, it seems to occur when I am sending over a slow connection. It would be
really nice if I could resume the upload of a failed import.

On Mar 22, 2018 2:38 PM, "Doug MacEachern" <notifications@github.com> wrote:

[2018-03-22 20:21] dougm commented on #807
@divyenpatel can you share your use case(s)?

[2018-03-22 20:36] dougm commented on #106
Currently [USAGE.md](https://github.com/vmware/govmomi/blob/master/govc/USAGE.md) is our "man page".

[2018-03-22 21:11] #220 closed

[2018-03-23 05:24] #826 closed

[2018-03-23 13:04] MaximGrise opened #1077 "property_collector is trying to converts long[] into ArrayOfint64"
If an object containing arrays of longs or shorts (such as VirtualMachineConfigInfo) is fetched in a getProperties query, the property_collector will try to build an ArrayOfint64 instead of an ArrayOfLong.

[2018-03-24 16:03] surajsub opened #1079 "RDM Type of Disk"
Is there support for adding RDM disk ?

[2018-03-25 02:05] dougm commented on #1079
Yes: https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#vmrdmattach

[2018-03-25 16:01] surajsub commented on #1079
Thanks @dougm for the response . I was not clear with my question , so apologies.
What i want to do is - Create a RDM disk via TF ( i know there is no support yet) and then have the capability to attach this to one or two vm's to support a shared disk scenario for SAP setup. My understanding is that , the govmomi library first needs to support it and then we can work around the tf provider aspect

[2018-03-26 16:20] tthayer commented on #807
I have a use case where we have a lab vSphere instance that isn't tied to our SSO system and we get infrequent requests to create new users in the system as part of an "intro to devops" onboarding. I think being able to add things via `govc vc.sso.user.add -id 'testuser' -domain 'domain.local' -password 'whatever' -groups 'limitedusers,devgroup'` would be extremely helpful in this regard. I recogn

[2018-03-26 17:54] divyenpatel commented on #807
@dougm while developing automation for [Enabling vSphere Cloud Provider](https://github.com/vmware/kubernetes/blob/enable-vcp-uxi/README.md), we had a requirement to create a new VC user and assign required roles and privileges to this new user created by automation.

If automation creates a new user and assign system generated password, it's kind of more secure than what we are doing currently -

[2018-03-26 17:55] #1061 closed

[2018-03-26 19:58] dougm commented on #1079
Yes, the APIs are supported, see the vm.rdm sources for examples: https://github.com/vmware/govmomi/tree/master/govc/vm/rdm

[2018-03-27 01:58] Mr-moyu opened #1080 "Can I add an actual host by using govcsim?"
or addVirtualNic?

[2018-03-27 03:59] dougm commented on #1080
Depends what you mean by "actual"?  vcsim does support `AddHost_Task` and `AddStandaloneHost_Task` methods.  But they are just inventory items, there is no connection made to an actual host.

Yes, you can add any VirtualDevice to a vcsim VirtualMachine, including VirtualEthernetCard types.

[2018-03-27 05:50] Mr-moyu commented on #1080
How about method ```QueryNetconfig``` in a govcsim host? I can't find this method.

[2018-03-27 07:37] Mr-moyu commented on #1080
ohh, Thx.
And I hava the other question that I want to add a host which has virtualNicManager in vcsim. what could I do?

[2018-03-27 08:38] Mr-moyu commented on #1080
and QueryNetConfg?

[2018-03-27 10:21] Mr-moyu commented on #1080
Ok, I write a function to solve this problem.
And I have some questions in simulator host_system, config(configInfo) and configManager, there is only  config(configManager) , where is the config(configInfo)?

[2018-03-27 15:53] dougm commented on #1054
Note that 'mo' types aren't need for vSAN management API as the objects do not have any properties.  The managed object reference can be used directly when invoking methods, for example :

https://github.com/vmware/govmomi/blob/1f0870fcda76974a214b4dd7df54df00d0ba0713/pbm/client.go#L56

[2018-03-27 17:09] dandunckelman commented on #1068
Adding for my own notes:
- I just found that the vcsim also doesn't have the `ResetVM_Task` and `SuspendVM_Task` methods on `VirtualMachine`.

[2018-03-27 18:33] dougm opened #1081 "PBM simulator support"
Issue #1074 includes support for simulator namespaces required to simulator the PBM endpoint API.

[2018-03-27 19:44] cathode911 commented on #735
Hey! Almost 10 months passed since issue was open, i am interested if there is any progress.
This issue affects Terraform's ability to provision VMs from content libraries (see above), which kind of blocks its usage in environments where legacy snapshots are forbidden (security etc.)

[2018-03-28 13:30] dougm commented on #1080
We don't have `VirtualNicManager` yet, but we can add that.

The HostSystem objects do have config:
[code]

[2018-03-30 00:01] micruzz82 opened #1083 "Help with creating a VM from a template and attaching an iso image to the VM created"
Hi All

I needed some help creating a VM from an existing template.

The template name is called VM-base-template, the cluster name is called TEST-CLUSTER_ESXI, the esxi host in this is esxi001 the datastore is VMFS001.

The iso is stored in folder VMFS001/ISO-Images.

I'm new to govc and was not able to understand the format from the usage example.

Usage: govc vm.clone [OPTIONS] NAME

Clone VM t

[2018-03-30 04:38] dougm commented on #1083
The `[OPTIONS] NAME` order matters, all options need to specified before the NAME:

```govc vm.clone -vm VM-base-template -host=TEST-CLUSTER_ESXI -ds=VMFS001 -folder=FW-01  NEW-VM```

For cdrom, see:

https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#devicecdrominsert

[2018-03-30 13:03] micruzz82 commented on #1083
@dougm thank you for your response. It works perfectly now and I'm able to add the relevant code to build the VM.
Much appreciated on this useful toolkit.

[2018-03-30 15:33] dougm commented on #1083
@micruzz82 good to hear it's working well for you.

[2018-03-30 21:05] micruzz82 commented on #1083
@dougm thanks again.. just one more question if I may.. currently I have only 1 host esxi001 on the cluster TEST-CLUSTER_ESXI

when i ran -host=TEST-CLUSTER_ESXI it did not work.. but when i ran -host=esxi001 it ran correctly.

I'm assuming in this case that -host is the actual host machine that it is looking for and not the Cluster name.. in the production environment it would be better to just r

[2018-03-30 22:22] dougm commented on #1083
To specify a cluster you can use: `-pool=TEST-CLUSTER_ESXI/Resources`
`-pool=TEST-CLUSTER_ESXI` may also work as a short cut, or we could make it work, but it would just expand to the cluster's root ResourcePool as it is above.

[2018-03-30 22:24] dougm commented on #1083
Added `needs-doc` tag, we should add `-host` and `-pool` to the `Examples:` section https://github.com/vmware/govmomi/blob/1f0870fcda76974a214b4dd7df54df00d0ba0713/govc/vm/clone.go#L117-L122

[2018-03-31 01:37] micruzz82 commented on #1083
thanks @dougm it's worked with using -pool=TEST-CLUSTER_ESXI/Resources and did not work without the/Resources with the error  {resource pool 'TEST-CLUSTER_ESXI' not found} Much appreciated again for the help.

[2018-03-31 01:37] #1083 closed

[2018-04-02 10:45] maxadamo commented on #615
it will not work if there are subfolders. And if you try adding a further wildcard:
[code]
you get the following error:
[code]

[2018-04-02 16:40] dougm commented on #615
The `find` command is easier to use for this case, `govc find / -type m` for example.

https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#find

[2018-04-03 01:54] leslie-qiwa opened #1084 "PrimaryMacAddress return wrong when govc creates VM against vcsim"
I'm using govc to create VM against vcsim with specified Mac address. VM can be created successfully, but `PrimaryMacAddress` return empty although one NIC is created and Mac address was created.

My govc command is `./govc vm.create -c 1 -m 1024  -k -pool=/DC0/host/DC0_C0/Resources -net=/DC0/network/VM\ Network -net.adapter=e1000 -net.address=11:22:33:44:55:66 test-1`

After some investigation, s

[2018-04-03 03:25] #1063 closed

[2018-04-03 03:25] #1074 closed

[2018-04-03 14:01] kremers opened #1085 "Release tagged as 0.17.1 declares const Version = "0.17.2-dev""
https://github.com/vmware/govmomi/blob/123ed177021588bac57b5c87c1a84270ddf2eca8/govc/flags/version.go#L24

Since release URI and 'govc version' are not in sync, scripts using this information to update to a certain release fail.

[2018-04-03 16:24] dougm commented on #1085
I'd say we could create a 0.17.2 release to fix this, but there's a bunch of new stuff in master towards .18 now.  @kremers can you stick with 0.17 for now, or workaround?  Otherwise, I suppose we could release from a branch that doesn't include the new stuff until .18 is ready.

[2018-04-03 16:28] kremers commented on #1085
Since my script is re-downloading and reinstalling if the version does not match, I can live with it for now.

[2018-04-04 15:04] ebal opened #1086 "guest.run"
Hi,

    govc version
govc **0.17.2-dev**

from :
https://github.com/vmware/govmomi/releases/download/v0.17.1/govc_linux_amd64.gz

I am working with govc the last few days,  everything seems to work as advertised
Well, almost everything.

eg.

    :~~> govc guest.ls -l root:password  -vm /DC/vm/centos7_test /root
[code]

upload/download works fine as well, expect guest.run

    $ govc guest.run -l

[2018-04-04 15:38] dougm commented on #1086
Are you running standard VMware tools or govmomi/toolbox? https://github.com/vmware/govmomi/blob/master/govc/USAGE.md#guestrun

[2018-04-04 19:34] dougm commented on #1086
@ebal no worries.  We could probably change the guest.run command to warn about this base on the error.

[2018-04-05 16:25] AngieCris opened #1087 "finder.ResourcePoolList fails under concurrent modification"
When there is a concurrent resource pool modification (like pool destroy) under a compute path, `finder.ResourcePoolList` fails with message:
[code]
This error occurs because one of the resource pools under the cluster is being destroyed, but there are other resource pools besides this partial one.
I would expect `finder.ResourcePoolList` to still return a list of the rest of resource pools availa

[2018-04-06 14:57] gokeefe opened #1089 "govc find with -guest.ipAddress argument returns more than one result"
Given the command line `govc find . -type m -guest.ipAddress "10.128.40.46" -runtime.powerState poweredOn`, only one VM should be returned. However for some reason govc is returning 26 results, where only one has the specified guest.ipAddress.

[code]

The extra VM results don't have VMware Tools/open-vm-tools running so no guest ipAddress is being reported. Seems govc find is returning results wh

[2018-04-09 20:46] dougm opened #1093 "Add STS support for token renewal"
The STS client supports issuing a new token, but not renewing an existing token.  Renew support is required to extend the token lifetime beyond the initial 5 minute max granted by the server when issuing a new token.

[2018-04-10 14:02] sofixa opened #1094 "govc is incapable of realizing that a host belongs to a resource pool and requires an argument"
Hello,

I'm using govc import.ova to import an OVA to a host under a vCenter with a few clusters, like this:

    /usr/local/bin/govc import.ova -host.ipath=/PA1/host/cluster-old/XXX.XXX.esx-03 -ds=vmdata02 templates/debian8/debian8.ova/debian8.ova

And i get

    /usr/local/bin/govc: default resource pool resolves to multiple instances, please specify

Why would govc need a default resource pool

[2018-04-11 05:53] #807 closed

[2018-04-11 13:28] jbcreek opened #1095 "host.autostart.info only pulls info on 9 guests"
govc 0.17.0 and 0.17.2-dev
CentOS Linux release 7.3.1611
ESXi 6.5.0 Update 1 (Build 5969303)

Running govc host.autostart.info only pulls info on 9 of the 27 VMs on the host.

[2018-04-12 00:03] leslie-qiwa opened #1096 "vcsim failed to bind to newly closed port at concurrent case"
In below concurrent test cases, sometimes, vcsim failed to bind newly closed port. It can not happen every time, but if you run several times, it may happen.

`TestXxx` always work, but `TestYyy` can not sometimes.

[code]

[2018-04-17 20:37] vancluever opened #1098 "object/distributed_virtual_portgroup.go: panic on missing DVS on DVPortgroup"
terraform-providers/terraform-provider-vsphere#449 describes an edge case where a DVPortgroup lacks a DVS. Not too sure how it got into this state, but ultimately this is resulting in a panic at https://github.com/vmware/govmomi/blob/3f145230c6a5d20d6d09366c239b429303b1dc7e/object/distributed_virtual_portgroup.go#L47.

Just making a note here, I'm guessing short of making a case for this this in t

[2018-04-18 06:08] junkao opened #1099 "Does govmomi(govc) support case Insensitive Search For Vm By Name?"
Does govc support case Insensitive Search For Vm By Name?

[2018-04-19 20:41] tthayer commented on #1099
The `govc ls -h` command shows an example that involves piping to other unix tools. I'd suggest using something like `govc ls "/DC1/vm/*" | grep -i myvmname`.

[2018-04-20 05:06] junkao commented on #1099
Yes, it looks ok.

API calls use govmomi to find vm ,the same problem is case-insensitive

         filter := property.Filter{}
	m := view.NewManager(advancedSearch.Client.Client)
	v, err := m.CreateContainerView(ctx, advancedSearch.ServiceContent.RootFolder, []string{"VirtualMachine"}, true)
	objs, err := v.Find(ctx, []string{"VirtualMachine"}, filter)

[2018-04-22 14:25] dougm commented on #1098
Seen in #1035 due to permissions, could be the same issue here?

[2018-04-22 14:34] dougm commented on #1099
We use `path.Match` (https://golang.org/pkg/path/#Match), so you can use for example:
`*vm[nN]ame*`.  But we could also add an option for case-insensitive matching.

[2018-04-22 15:05] vancluever commented on #1098
@dougm yeah possibly! I will pass a message on to the reporter. At the very least we could probably add a nil check - what do you think?

[2018-04-22 15:07] dougm commented on #1096
As Brad pointed out, this isn't a Go issue either.  Why do you need to re-use the closed ports rather than letting the kernel choose another unused port for you?

[2018-04-22 16:45] dougm commented on #1098
Yes, a nil check at least.  I did want to try reproducing to see why this field isn't included in the `MissingSet`, which would turn into an error instead of panic: https://github.com/vmware/govmomi/blob/d3ae3004773719bcc413ff8e3396f2ce6bf0827b/vim25/mo/retrieve.go#L56

[2018-04-22 17:12] dougm commented on #1095
Is autostart configured for all 27 VMs?  How many VMs do you see with the script below?

[code]

[2018-04-22 17:39] vancluever commented on #1098
Sounds good! I've notified the reporter for now,

[2018-04-23 04:13] #1089 closed

[2018-04-23 04:13] dougm commented on #1089
@gokeefe fixed by #1101 , can you confirm?

[2018-04-23 06:28] leslie-qiwa commented on #1096
Previously we want to control the port. Seems like it causes race condition, so we just let kernel select now. Close now.

[2018-04-23 06:28] #1096 closed

[2018-04-23 11:59] jbcreek commented on #1095
There are currently 3 VMs with autostart configured.  The script shows 6
VMs.

On Sun, Apr 22, 2018 at 1:12 PM, Doug MacEachern <notifications@github.com>
wrote:

--
Jeff Creek
INdigital

[2018-04-23 16:47] gokeefe commented on #1089
This seems to have fixed the issue I was experiencing, thank you!

[2018-04-24 09:20] dzegelman opened #1102 "sharingMultiWriter flag"
Hi all,

Is that any chance that possibility to put sharingMultiWriter on disk will be added, to avoid manipulation of of .vmx files.

Thanks a lot in advance,

Dan Zegelman

[2018-04-24 23:10] hickeng opened #1103 "Finder.DefaultHostSystem does not locate hosts for clusters in datacenter folders"
We’re seeing the following error when calling finder. `HostSystemOrDefault`,  “no default host found”.
The cluster is in a set of folders, `/datacenter/folderA/folderB/cluster`.

Out of band conversation lead to the suggestion of the following:
[code]

[2018-04-25 01:02] dougm commented on #1055
I wasn't able to reproduce this against the same vCenter env, please re-open if still an issue.

[2018-04-25 01:02] #1055 closed

[2018-04-25 01:03] #1030 closed

[2018-04-25 02:06] dougm commented on #1102
I assume this would be setting the `VirtualDisk.FlatVer2BackingInfo.sharing` property in the govc `vm.disk` commands?

Reference: http://pubs.vmware.com/vsphere-6-5/index.jsp#com.vmware.wssdk.apiref.doc/vim.vm.device.VirtualDisk.FlatVer2BackingInfo.html

[2018-04-25 02:17] dougm commented on #1095
Hmm, the `host.autostart.info` command should print the same number of VMs as the script, since the info command uses the same `config.powerInfo` property.

It is expected at least, that `host.autostart.info` can report less than the total number of VMs if they aren't all configured for autostart.

[2018-04-25 03:29] dougm commented on #1077
@MaximGrise linked PR should fix this, can you confirm?

[2018-04-25 03:50] junkao opened #1106 "Missing adapter type(vmxnet2,SR-IOV) when i add network adapter?"
Only vmxnet3,e1000,e1000e can use when i add network adapter.

[2018-04-25 04:26] #1077 closed

[2018-04-25 06:59] dzegelman commented on #1102
Yes it is. Thanks a lot

[2018-04-25 11:45] jbcreek commented on #1095
Doug,

Both methods show six VMs.

govc host.autostart.info
VM                                                             StartAction
StartDelay  StartOrder  StopAction     StopDelay  WaitForHeartbeat
/ha-datacenter/vm/jeff-test-cli                         powerOn
-1                 1           systemDefault  -1         systemDefault
/ha-datacenter/vm/FTWYIN2-REPO-A            powerOn      -1
2

[2018-04-25 18:56] dougm commented on #1095
@jbcreek ok, the issue subject said "9 guests" and summary "9 of the 27 VMs".  If both commands show 6 VMs that is expected.

We could add an option to `host.autostart.info` to list all VMs, even those with autostart unset, is that what you're looking for?

[2018-04-25 19:36] jbcreek commented on #1095
Ya, sorry.  This is on a test system that is constantly changing.

Yes, if host.autostart.info would list all VMs, that would be perfect.

Thanks,

Jeff

On Wed, Apr 25, 2018 at 2:56 PM, Doug MacEachern <notifications@github.com>
wrote:

--
Jeff Creek
INdigital

[2018-04-25 23:08] #1103 closed

[2018-04-26 14:25] equelin commented on #702
@jjlakis Could you share some code? I'm currently struggling with this with pyvmomi...

[2018-04-26 14:36] jjlakis commented on #702
@equelin I don't have an access to this code anymore. @RedDevil69 maybe you can help?

[2018-04-27 08:55] Mr-moyu opened #1107 "when getHostSystemManagementIp meet some problems in vcsim"
like this...
[code]

[2018-04-27 11:25] MaximGrise commented on #1077
Yes, confirmed as fixed.

[2018-04-27 22:50] leslie-qiwa opened #1108 "govc device.info not return disk size when govc creates VM against vcsim"
I can use `govc vm.create -m 2048 -c 2  -disk.controller ide -disk 1GB -k -pool=/DC0/host/DC0_C0/Resources -net=/DC0/network/VM\ Network disk-test-vm` to create VM against vcsim, but when I run `govc device`, it doesn't return disk size in device summary, which is same as label.

[code]

The output from real ESX host is like
[code]

[2018-04-28 04:57] dougm commented on #1107
Need to reproduce this, can you run vcsim with the `-trace` flag and include the request output in this issue?

[2018-04-28 05:07] dougm commented on #1108
@leslie-qiwa is #1110 good enough or do you need the commas?

[2018-04-28 05:12] Mr-moyu commented on #1107
you mean this?
[code]

[2018-04-28 05:14] Mr-moyu commented on #1107
[trace.txt](https://github.com/vmware/govmomi/files/1957298/trace.txt)

[2018-04-28 05:43] dougm commented on #1107
Yes, and the response looks fine (below).  I don't know why yavijava has a problem with this response.

[code]

[2018-04-28 06:12] Mr-moyu commented on #1107
how about this exception?
[code]

[2018-04-28 19:41] leslie-qiwa commented on #1108
It is more accurate. Thanks for confirming!

[2018-05-01 05:25] #1106 closed

[2018-05-01 13:57] bpoland opened #1112 "Username with backslash no longer accepted"
Hi there,

I'm using an Active Directory user to authenticate to vSphere, so the username has a backslash in it (e.g. DOMAIN\username).  With govc 0.16.0 and earlier, I could set the GOVC_URL env variable with the backslash and it was happy.  For example:

`export GOVC_URL='DOMAIN\username:password@vsphere.server.fqdn'`

With govc 0.17.0 and .1, this same env variable doesn't work.  I get "govc: s

[2018-05-01 14:40] dougm commented on #1112
Caused by this change to Go: https://github.com/golang/go/issues/23392

I suppose we could escape any `\` before calling `url.Parse()`?

Another workaround, avoids username/password in the call to `url.Parse()`:
[code]

[2018-05-01 14:59] bpoland commented on #1112
Ah, thanks! I didn't know you could separate out the username, password and URL like that.  I have verified that works, and I'm happy with that as a solution.  Maybe worth documenting somewhere for anyone else that runs into the same thing?

[2018-05-01 15:05] dougm commented on #1112
The vars and use case are mentioned here: https://github.com/vmware/govmomi/tree/master/govc#usage
But that was written before the mentioned change to Go.  We could add more detail on the issue, "invalid userinfo" error, etc.

[2018-05-01 15:11] bpoland commented on #1112
Thanks, I have suggested an update to that page here: https://github.com/vmware/govmomi/pull/1113

Also I wonder if it would be worth adding GOVC_USERNAME and GOVC_PASSWORD to the https://github.com/vmware/govmomi/blob/master/govc/USAGE.md page?  Or is that only for command line arguments?

[2018-05-01 15:15] bpoland commented on #1112
Actually I see that there's paperwork for me to sign to get a PR accepted -- maybe you can just make the change next time you're doing a commit :)

[2018-05-01 23:14] dougm commented on #1112
@bpoland should be just a few clicks for the CLA, would be great to have you contribute the change.  Otherwise, I tend to leave needs-doc labeled issues for taking care of just before creating a release.

[2018-05-02 01:33] Mr-moyu commented on #1107
This is in vim simulator/esx/host_config_info.go:
![zffuex8x](https://user-images.githubusercontent.com/26504403/39501165-ce0b6a70-4deb-11e8-80a9-f3d812a98a99.png)
and this is in yavijava:
![zffvipko](https://user-images.githubusercontent.com/26504403/39501169-dc4362a0-4deb-11e8-9146-5ff28f5225ed.png)

[2018-05-02 03:11] #1093 closed

[2018-05-02 03:32] dougm commented on #1107
I see, `IoFilterInfo.Type` was added in version 6.5, but yavijava must be 6.0 or older.  Even though `Type` is empty, the field is still marshaled.  We should properly implement vim versioning in vcsim.

But for now, we could just remove the `Type` field from host_config_info.go as you have done.  Would that work for you or are there other fields with the same issue?

[2018-05-02 06:16] leslie-qiwa commented on #1108
Sorry for not very precisely. I probably need commas because it is more align with above output from real ESX host.
Not sure if govmomi has library for such conversation. Here is what I made, https://play.golang.org/p/tn7YdWtd6O2. If it is ok, I can submit one PR.

[2018-05-02 13:01] bpoland commented on #1112
Yeah, there's a bunch of legalese in there that I'm not sure my employer would like me agreeing to...

Thanks again for your help with this!

[2018-05-02 17:00] dougm commented on #1108
@leslie-qiwa ok sure, a PR from you would be great.  There isn't anything in govmomi to provide that formatting, I don't think Go stdlib has anything either.  Let's use your function, it can be unexported (`numberToString`) in the simulator package for now.

[2018-05-03 06:09] junkao commented on #1099
Thank
According to your hint I wrote a piece of code.   the code is not very good, but work for me .

tmpStr := ""
		for _, item := range advancedSearchGet.Name {
			switch {
			case unicode.IsUpper(item):
				tmpStr = tmpStr + "[" + string(item) + strings.ToLower(string(item)) + "]"
			case unicode.IsUpper(item):
				tmpStr = tmpStr + "[" + strings.ToUpper(string(item)) + string(item) + "]"
			de

[2018-05-03 11:01] rodolphewachter opened #1116 "VmFolder info"
Hi,
How to search Parent folder of a Virtual machine ?

Thanks,

[2018-05-03 11:42] junkao opened #1117 "Multiple vm found that contain the specify IP and empty IP When i find vm by ip"
[code]

1. vm (ip 192.168.0.32) matched
2. vm (IP is empty) matched

[2018-05-03 20:00] dougm commented on #1116
Can you be more specific?  And using govc or the API directly?

[2018-05-03 20:36] ericlanderson opened #1118 "govc: vm.clone -annotation does not appear in GUI Notes field"
According to issue [985](https://github.com/vmware/govmomi/issues/985), -annotation should populate the Notes field in the UI. This does not appear to be the case. On a freshly clone VM, the notes field is empty in the UI and vm.info -json output is empty:
[code]

[2018-05-03 20:38] dougm commented on #1117
Sounds like the recently fixed #1089

Are you up-to-date with the vmware/govmomi master branch?

[2018-05-04 00:27] junkao commented on #1117
It is still not work properly after the up-to-date with the vmware/govmomi master

[2018-05-04 01:03] junkao commented on #1117
It's working
Issue resolved

[2018-05-04 01:03] #1117 closed

[2018-05-04 07:05] rodolphewachter commented on #1116
Hi dougm,

Actually, i'm show virtual machines information with the sample file , except the name of the parent folder and i don't have any idea for query this task.

Thanks,

[2018-05-04 15:56] ericlanderson commented on #1118
I should add that I tried  "-annotation=" with both double quotes and single quotes, short string and long string and the Notes field was never set. I have also manually set the Notes field in the UI and can then see the notes at the command line using "govc vm.info -json ... ".

[2018-05-04 16:01] dougm commented on #1116
Sure, here's an example:

[code]

[2018-05-04 19:28] #1118 closed

[2018-05-04 19:55] ericlanderson commented on #1118
This is excellent. I was going to request adding -annotation to vm.change. Thanks for fixing and adding that feature.

[2018-05-04 20:27] rodolphewachter commented on #1116
Thanks for your good response.
I have another question with folder if it doesn't bother you.
It's possible to show the entire path : exemple : folder1/folder2/folder3/Vm1

Thanks,

[2018-05-04 23:47] dougm commented on #1108
Closed by #1115

[2018-05-04 23:47] #1108 closed

[2018-05-05 11:37] Mr-moyu commented on #1107
Thx @dougm ,I think that will be very helpful.

[2018-05-05 16:43] rodolphewachter commented on #1116
Many thanks Doug, i close this issue.

[2018-05-05 16:43] #1116 closed

[2018-05-06 14:33] dougm commented on #1107
@Mr-moyu could you provide some yavijava code that reproduces the issue(s)?

[2018-05-07 09:02] dzegelman commented on #1102
Hi all,

Will this enhancement be implemented in the future?

Thanks a lot in advance,

Dan Zegelman

[2018-05-08 05:15] Mr-moyu commented on #1107
like this？
![](https://user-images.githubusercontent.com/26504403/39501169-dc4362a0-4deb-11e8-9146-5ff28f5225ed.png)

[2018-05-08 05:38] dougm commented on #1107
I meant code we can run, like a .java file with a main() method that uses yavijava.

[2018-05-09 10:32] xayangjing commented on #616
+1 I'd also like to customise -ip, netmask, gateway, dns, disk, -net etc..

[2018-05-09 23:23] leslie-qiwa opened #1121 "wrong capacity and free size of datastore.info against vcsim"
If using vcsim as backend and run `govc datastore.info -k`, the capacity and free space are wrong, as below. Seems like `simulator/os_unix.go` already calculate size by MB.
[code]

In addition, if VM is created on the datastore, expectation is VM disk size should be counted as well although disk file is not created physically.

I have a working patch, please let me know if I should submit one PR f

[2018-05-10 05:13] dougm commented on #1121
@leslie-qiwa a PR to fix would be great, thanks.

[2018-05-10 07:01] Mr-moyu commented on #1107
https://github.com/yavijava/yavijava-samples
Like method com.vmware.vim25.mo.HostSystem.getConfig(HostSystem).

[2018-05-10 16:09] hickeng opened #1123 "Add govmomi support for namespaceDB"
**Story**
As a user of govmomi I want to be able to perform VM Namespace operations

**Detail**
VM Namespace Manager is found here: ServiceContext->retrieveInternalContent->vm-namespace-manager
Core operations:
* create namespace
* updateData
* retrieveData

Toolbox:
- [ ] support at least the create namespace, and get/set/list keys

vSphere:
- [ ] prevent namespacedb data from being deleted when

[2018-05-11 02:14] leslie-qiwa commented on #1121
Thanks. Will add more tests on my current patch, and submit before next week.

[2018-05-11 05:18] lubronzhan commented on #807
@dougm

Hi.

I tried to used the `govc sso.user.create`  with govc binary generated on the master branch.

So I run it against vsphere 6.5 U1. and with correct `GOVC_USERNAME` and `GOVC_PASSWORD`, but I keep getting `govc: ServerFaultCode: NotAuthenticated`. Do you know what could be the problem

[2018-05-11 13:03] dougm commented on #807
@lubronzhan the ssoadmin endpoint has its own Login method that requires a SAML token.  Planning to address this before the next release so it is transparent, but for now you need to set the `GOVC_LOGIN_TOKEN` var.  For example:

[code]